@model TwolipsDating.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "twolips - password recovery";
    ViewBag.Description = "twolips dating is a community focused on providing people with the ability to meet likeminded friends and colleagues through a variety of activities and challenges.";
    ViewBag.ImageUrl = Url.Content("~/Content/twolipsicon-white-180x180.png");
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>@ViewBag.Title</h3>
                <h4>What's your email address?</h4>
                <div style="padding: 0 15px;">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-default" value="Send Reminder" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
