@using TwolipsDating.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login to your account";
    ViewBag.Description = "Twolips dating is a community focused on providing people with the ability to meet likeminded friends and colleagues through a variety of activities and challenges.";
}

<div class="center-block">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-4">
            <section id="loginForm">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="text-center">
                                <h3>Sign in quickly</h3>
                            </div>
                            <div class="form-group">
                                <div style="margin-bottom: 10px;">
                                    <button style="width: 100%;" type="submit" class="btn btn-info" id="Twitter" name="provider" value="Twitter" title="Log in using your Twitter account">
                                        <img src="~/Content/tw-icon-16.png" />&nbsp;&nbsp;Twitter
                                    </button>
                                </div>
                                <div style="margin-bottom: 10px;">
                                    <button style="width: 100%;" type="submit" class="btn btn-primary" id="Facebook" name="provider" value="Facebook" title="Log in using your Facebook account">
                                        <img src="~/Content/fb-icon-16.png" />&nbsp;&nbsp;Facebook
                                    </button>
                                </div>
                                <button style="width: 100%;" type="submit" class="btn btn-danger" id="Google" name="provider" value="Google" title="Log in using your Google account">
                                    <img src="~/Content/gp-icon-16.png" />&nbsp;&nbsp;Google
                                </button>
                            </div>
                        }
                        <div class="text-center">
                            <h3>Or use your twolips account</h3>
                        </div>
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.ValidationSummary()
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Your username" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Your password" })
                            </div>
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                            <button type="submit" class="btn btn-success">Log in</button>
                            <br />
                            <ul class="list-unstyled">
                                <li><small>@Html.ActionLink("I forgot my password", "forgotpassword", "account")</small></li>
                                <li><small>@Html.ActionLink("I don't have an account", "register", "account")</small></li>
                            </ul>
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}