@using TwolipsDating.Models;
@model TwolipsDating.Models.RegisterViewModel
@{
    ViewBag.Title = "twolips - register and sign up for free";
    ViewBag.Description = "twolips dating is a community focused on providing people with the ability to meet likeminded friends and colleagues through a variety of activities and challenges.";
    ViewBag.ImageUrl = Url.Content("~/Content/twolipsicon-white-180x180.png");
}

<div class="center-block">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = "" }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="text-center">
                            <h3>Sign up quickly</h3>
                        </div>
                        <div class="form-group text-center">
                            <div style="margin-bottom: 10px;">
                                <button style="width: 100%;" type="submit" class="btn btn-info" id="Twitter" name="provider" value="Twitter" title="Log in using your Twitter account">
                                    <img src="~/Content/bird_blue_16.png" />&nbsp;&nbsp;Twitter
                                </button>
                            </div>
                            <div style="margin-bottom: 10px;">
                                <button style="width: 100%;" type="submit" class="btn btn-primary" id="Facebook" name="provider" value="Facebook" title="Log in using your Facebook account">
                                    <img src="~/Content/fb_16.png" />&nbsp;&nbsp;Facebook
                                </button>
                            </div>
                            <button style="width: 100%;" type="submit" class="btn btn-danger" id="Google" name="provider" value="Google" title="Log in using your Google account">
                                <img src="~/Content/gplus-16.png" />&nbsp;&nbsp;Google
                            </button>
                            <small>We don't post anything without your permission</small>
                        </div>
                    }
                    <div class="text-center">
                        <h3>Or create a twolips account</h3>
                    </div>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Choose a username" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter a password" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Your email address" })
                            <p><small>You will sometimes receive communication related to your account. According to our privacy policy, we will not share your information with anyone.</small></p>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">
                                Sign up for twolips dating
                            </button>
                        </div>
                        <small>By clicking "Sign up for Twolips Dating", you are agreeing to the @Html.ActionLink("Terms of Service", "terms", "about") and @Html.ActionLink("Privacy Policy", "privacy", "about").</small>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
