@model TwolipsDating.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset your password";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-md-offset-3 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center" style="width: 100%">
                    <img src="~/Content/PasswordResetLock.png" />
                </div>
                <h3>@ViewBag.Title</h3>
                <div style="padding: 0 15px;">
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                        @Html.HiddenFor(m => m.Code)
                        <p class="control-label">What's your email?</p>
                        <div class="col-xs-12">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <p class="control-label">New password</p>
                        <div class="col-xs-12">
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <p class="control-label">Confirm new password</p>
                        <div class="col-xs-12">
                            <div class="form-group">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-refresh fa-fw"></i> Change Password
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}