@model TwolipsDating.Models.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Manage social logins";
    ViewBag.Description = "twolips dating is a community focused on providing people with the ability to meet likeminded friends and colleagues through a variety of activities and challenges.";
}

<div class="col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation">
                    <a href="@Url.Action("index", "manage")"><i class="fa fa-user fa-lg fa-fw"></i> Profile</a>
                </li>
                <li role="presentation">
                    <a href="@Url.Action("settings", "manage")"><i class="fa fa-cog fa-lg fa-fw"></i> Account</a>
                </li>
                <li role="presentation" class="active">
                    <a href="@Url.Action("externals", "manage")"><i class="fa fa-share-alt fa-lg fa-fw"></i> Social Logins</a>
                </li>
                <li role="presentation">
                    <a href="@Url.Action("notifications", "manage")"><i class="fa fa-envelope fa-lg fa-fw"></i> Email Notifications</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-5">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="panel-title">Social Logins</p>
        </div>
        <div class="panel-body">
            <div class="alert alert-info">
                <p>You can alternatively login to this community through popular networks. Once logged in to these services, you are also authenticated to our services. Add and remove registered external logins below.</p>
            </div>
            @if (Model.CurrentLogins.Count > 0)
            {
                <h5>Currently registered logins (click to remove)</h5>
                <table class="table">
                    <tbody>
                        @foreach (var account in Model.CurrentLogins)
                        {
                            <tr>
                                <td>
                                    @if (ViewBag.ShowRemoveButton)
                                    {
                                        using (Html.BeginForm("RemoveLogin", "Manage"))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary()
                                            @Html.Hidden("loginProvider", account.LoginProvider)
                                            @Html.Hidden("providerKey", account.ProviderKey)

                                            if (account.LoginProvider == "Google")
                                            {
                                                <button type="submit" style="width:100%" class="btn btn-google-plus"
                                                        id="@account.LoginProvider" name="provider" value="@account.LoginProvider"
                                                        title="Log in using your @account.LoginProvider account">
                                                    <i class="fa fa-google-plus fa-fw fa-lg"></i> @account.LoginProvider
                                                </button>
                                            }
                                            else if (account.LoginProvider == "Twitter")
                                            {
                                                <button type="submit" style="width:100%" class="btn btn-twitter"
                                                        id="@account.LoginProvider" name="provider" value="@account.LoginProvider"
                                                        title="Log in using your @account.LoginProvider account">
                                                    <i class="fa fa-twitter fa-fw fa-lg"></i> @account.LoginProvider
                                                </button>
                                            }
                                            else if (account.LoginProvider == "Facebook")
                                            {
                                                <button type="submit" style="width:100%" class="btn btn-facebook"
                                                        id="@account.LoginProvider" name="provider" value="@account.LoginProvider"
                                                        title="Log in using your @account.LoginProvider account">
                                                    <i class="fa fa-facebook fa-fw fa-lg"></i> @account.LoginProvider
                                                </button>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        if (account.LoginProvider == "Google")
                                        {
                                            <button type="button" style="width:100%" class="btn btn-google-plus"
                                                    id="@account.LoginProvider" name="provider" value="@account.LoginProvider"
                                                    title="You cannot remove your only login provider" disabled="disabled">
                                                <i class="fa fa-google-plus fa-fw fa-lg"></i> @account.LoginProvider
                                            </button>
                                        }
                                        else if (account.LoginProvider == "Twitter")
                                        {
                                            <button type="button" style="width:100%" class="btn btn-twitter"
                                                    id="@account.LoginProvider" name="provider" value="@account.LoginProvider"
                                                    title="You cannot remove your only login provider" disabled="disabled">
                                                <i class="fa fa-twitter fa-fw fa-lg"></i> @account.LoginProvider
                                            </button>
                                        }
                                        else if (account.LoginProvider == "Facebook")
                                        {
                                            <button type="button" style="width:100%" class="btn btn-facebook"
                                                    id="@account.LoginProvider" name="provider" value="@account.LoginProvider"
                                                    title="You cannot remove your only login provider" disabled="disabled">
                                                <i class="fa fa-facebook fa-fw fa-lg"></i> @account.LoginProvider
                                            </button>
                                        }
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
            @if (Model.OtherLogins.Count > 0)
            {
                <h5>Add another service to log in (click to add)</h5>
                using (Html.BeginForm("LinkLogin", "Manage"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <table class="table">
                        <tbody>
                            @foreach (AuthenticationDescription p in Model.OtherLogins)
                            {
                                <tr>
                                    <td>
                                        @if (p.AuthenticationType == "Google")
                                        {
                                            <button type="submit" style="width:100%" class="btn btn-google-plus"
                                                    id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType"
                                                    title="Log in using your @p.Caption account">
                                                <i class="fa fa-google-plus fa-fw fa-lg"></i> @p.AuthenticationType
                                            </button>
                                        }
                                        else if (p.AuthenticationType == "Twitter")
                                        {
                                            <button type="submit" style="width:100%" class="btn btn-twitter"
                                                    id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType"
                                                    title="Log in using your @p.Caption account">
                                                <i class="fa fa-twitter fa-fw fa-lg"></i> @p.AuthenticationType
                                            </button>
                                        }
                                        else if (p.AuthenticationType == "Facebook")
                                        {
                                            <button type="submit" style="width:100%" class="btn btn-facebook"
                                                    id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType"
                                                    title="Log in using your @p.Caption account">
                                                <i class="fa fa-facebook fa-fw fa-lg"></i> @p.AuthenticationType
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        </div>
    </div>
</div>