@model TwolipsDating.Models.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "twolips - manage social logins";
    ViewBag.Description = "twolips dating is a community focused on providing people with the ability to meet likeminded friends and colleagues through a variety of activities and challenges.";
    ViewBag.ImageUrl = Url.Content("~/Content/twolipsicon-white-180x180.png");
}
<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_DropDownMenuPartial", new TwolipsDating.ViewModels.DropDownMenuViewModel() { ActiveMenuText = TwolipsDating.ViewModels.ActiveMenuText.Account })
        <div class="pull-right">
            <ul class="nav nav-pills">
                <li role="presentation">
                    <a href="@Url.Action("index", "manage")"><i class="glyphicon glyphicon-user"></i> Profile</a>
                </li>
                <li role="presentation">
                    <a href="@Url.Action("settings", "manage")"><i class="glyphicon glyphicon-cog"></i> Account</a>
                </li>
                <li role="presentation" class="active">
                    <a href="@Url.Action("externals", "manage")"><i class="glyphicon glyphicon-log-in"></i> Social Logins</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">Social Logins</p>
            </div>
            <div class="panel-body">
                <div class="alert alert-info">
                    <p>You can alternatively login to this community through popular networks. Once logged in to these services, you are also authenticated to our services. Add and remove registered external logins below.</p>
                </div>
                @if (Model.CurrentLogins.Count > 0)
                {
                    <h5>Currently registered logins (click to remove)</h5>
                    <table class="table">
                        <tbody>
                            @foreach (var account in Model.CurrentLogins)
                            {
                                <tr>
                                    <td>
                                        @if (ViewBag.ShowRemoveButton)
                                        {
                                            using (Html.BeginForm("RemoveLogin", "Manage"))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.Hidden("loginProvider", account.LoginProvider)
                                                @Html.Hidden("providerKey", account.ProviderKey)

                                                if (account.LoginProvider == "Google")
                                                {
                                                    <button type="submit" style="width:100%" class="btn btn-danger btn-sm"
                                                            id="@account.LoginProvider" name="provider" value="@account.LoginProvider"
                                                            title="Log in using your @account.LoginProvider account">
                                                        <img src="~/Content/gplus-16.png" /> @account.LoginProvider
                                                    </button>
                                                }
                                                else if (account.LoginProvider == "Twitter")
                                                {
                                                    <button type="submit" style="width:100%" class="btn btn-info btn-sm"
                                                            id="@account.LoginProvider" name="provider" value="@account.LoginProvider"
                                                            title="Log in using your @account.LoginProvider account">
                                                        <img src="~/Content/bird_blue_16.png" /> @account.LoginProvider
                                                    </button>
                                                }
                                                else if (account.LoginProvider == "Facebook")
                                                {
                                                    <button type="submit" style="width:100%" class="btn btn-primary btn-sm"
                                                            id="@account.LoginProvider" name="provider" value="@account.LoginProvider"
                                                            title="Log in using your @account.LoginProvider account">
                                                        <img src="~/Content/fb_16.png" /> @account.LoginProvider
                                                    </button>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            @account.LoginProvider
                                        }
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                }
                @if (Model.OtherLogins.Count > 0)
                {
                    <h5>Add another service to log in (click to add)</h5>
                    using (Html.BeginForm("LinkLogin", "Manage"))
                    {
                        @Html.AntiForgeryToken()

                        <table class="table">
                            <tbody>
                                @foreach (AuthenticationDescription p in Model.OtherLogins)
                                {
                                    <tr>
                                        <td>
                                            @if (p.AuthenticationType == "Google")
                                            {
                                                <button type="submit" style="width:100%" class="btn btn-danger btn-sm"
                                                        id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType"
                                                        title="Log in using your @p.Caption account">
                                                    <img src="~/Content/gplus-16.png" /> @p.AuthenticationType
                                                </button>
                                            }
                                            else if (p.AuthenticationType == "Twitter")
                                            {
                                                <button type="submit" style="width:100%" class="btn btn-info btn-sm"
                                                        id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType"
                                                        title="Log in using your @p.Caption account">
                                                    <img src="~/Content/bird_blue_16.png" /> @p.AuthenticationType
                                                </button>
                                            }
                                            else if (p.AuthenticationType == "Facebook")
                                            {
                                                <button type="submit" style="width:100%" class="btn btn-primary btn-sm"
                                                        id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType"
                                                        title="Log in using your @p.Caption account">
                                                    <img src="~/Content/fb_16.png" /> @p.AuthenticationType
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            </div>
        </div>
    </div>
</div>