@model TwolipsDating.Models.IndexViewModel

@{
    ViewBag.Title = "manage your username and email";
    ViewBag.Description = "twolips dating is a community focused on providing people with the ability to meet likeminded friends and colleagues through a variety of activities and challenges.";
    ViewBag.ImageUrl = Url.Content("~/Content/twolipsicon-white-180x180.png");
}

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_DropDownMenuPartial", new TwolipsDating.ViewModels.DropDownMenuViewModel() { ActiveMenuText = TwolipsDating.ViewModels.ActiveMenuText.Account })
        <div class="pull-right">
            <ul class="nav nav-pills">
                <li role="presentation" class="active">
                    <a href="@Url.Action("index", "manage")"><i class="glyphicon glyphicon-user"></i> Profile</a>
                </li>
                <li role="presentation">
                    <a href="@Url.Action("settings", "manage")"><i class="glyphicon glyphicon-cog"></i> Account</a>
                </li>
                <li role="presentation">
                    <a href="@Url.Action("externals", "manage")"><i class="glyphicon glyphicon-log-in"></i> Social Logins</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">
                    Profile
                </p>
            </div>
            <div class="panel-body">
                <div class="alert alert-info">
                    <p>Your user name must be unique.</p>
                    <p>Your e-mail address must be unique.</p>
                    <p>Changing your e-mail address will require you to confirm the new address.</p>
                </div>
                @if (!String.IsNullOrEmpty(ViewBag.StatusMessage))
                {
                    <div class="alert alert-success alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <p>@ViewBag.StatusMessage</p>
                    </div>
                }
                @using (Html.BeginForm("index", "manage", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "alert alert-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        <p><small>This user name will be displayed throughout the community and used for login purposes.</small></p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        <p><small>You will sometimes receive communication related to your account. According to our privacy policy, we will not share your information with anyone.</small></p>
                    </div>
                    if (Model.Genders != null && Model.Genders.Count > 0)
                    {
                        <div class="form-group">
                            <p class="control-label">What are you?</p>
                            @Html.DropDownListFor(m => m.SelectedGenderId,
                            new SelectList(Model.Genders, "Key", "Value"),
                            new { @class = "form-control", data_placeholder = "What are you?" })
                        </div>
                    }
                    <button type="submit" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-ok"></i> Save changes</button>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
