@model TwolipsDating.Models.IndexViewModel

@{
    ViewBag.Title = "Manage your username and email";
    ViewBag.Description = "twolips dating is a community focused on providing people with the ability to meet likeminded friends and colleagues through a variety of activities and challenges.";
}

<div class="row">
    <div class="col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active">
                        <a href="@Url.Action("index", "manage")"><i class="fa fa-user fa-lg fa-fw"></i> Profile</a>
                    </li>
                    <li role="presentation">
                        <a href="@Url.Action("settings", "manage")"><i class="fa fa-cog fa-lg fa-fw"></i> Account</a>
                    </li>
                    <li role="presentation">
                        <a href="@Url.Action("externals", "manage")"><i class="fa fa-share-alt fa-lg fa-fw"></i> Social Logins</a>
                    </li>
                    <li role="presentation">
                        <a href="@Url.Action("notifications", "manage")"><i class="fa fa-envelope fa-lg fa-fw"></i> Email Notifications</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">
                    Profile
                </p>
            </div>
            <div class="panel-body">
                @if (Model.DoesUserHaveProfile)
                {
                    <div class="alert alert-info">
                        <p>Your user name must be unique.</p>
                        <p>Your e-mail address must be unique.</p>
                        <p>Changing your e-mail address will require you to confirm the new address.</p>
                    </div>
                    if (!String.IsNullOrEmpty(ViewBag.StatusMessage))
                    {
                        <div class="alert alert-success alert-dismissable" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <p>@ViewBag.StatusMessage</p>
                        </div>
                    }
                    using (Html.BeginForm("index", "manage", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "alert alert-danger" })
                        @Html.HiddenFor(m => m.DoesUserHaveProfile)
                        @Html.HiddenFor(m => m.CurrentLocation)
                        <div class="form-group">
                            <label for="UserName" class="control-label">Displayed Profile Name</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-lg fa-user fa-fw"></i></div>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            </div>
                            <small>This name will be displayed on your profile.</small>
                        </div>
                        <div class="form-group">
                            <label for="Email" class="control-label">Email Address</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-lg fa-envelope fa-fw"></i></div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                            <small>You will sometimes receive communication related to your account. According to our privacy policy, we will not share your information with anyone.</small>
                        </div>
                        <p class="control-label">What are you?</p>
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.SelectedGenderId,
                            new SelectList(Model.Genders, "Key", "Value"),
                            new { @class = "form-control", data_placeholder = "What are you?" })
                        </div>
                        <p class="control-label">You said you live in @Model.CurrentLocation. You can change it below.</p>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-lg fa-map-marker fa-fw"></i></div>
                                <input class="form-control" type="text" name="ff_nm_from[]" value="" id="f_elem_city" />
                                @Html.HiddenFor(m => m.SelectedLocation)
                            </div>
                        </div>
                        <p class="control-label">When were you born?</p>
                        <div class="col-xs-4">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.BirthMonth, new { @class = "form-control", @placeholder = "MM", maxlength = "2" })
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.BirthDayOfMonth, new { @class = "form-control", @placeholder = "DD", maxlength = "2" })
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.BirthYear, new { @class = "form-control", @placeholder = "YYYY", maxlength = "4" })
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-ok"></i> Save changes</button>
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        You haven't created a profile yet!
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/jquery-ui")
    <script src="@Url.Content("~/Scripts/Manage/index.js")" type="text/javascript"></script>
}
@section Styles {
    @Styles.Render("~/Content/chosen")
    @Styles.Render("~/Content/jquery-ui")
}