@model TwolipsDating.ViewModels.ProfileViewModel
@using Microsoft.AspNet.Identity;

<div class="panel panel-default">
    <div class="panel-body">
        @*<a class="btn btn-default btn-block hidden-sm hidden-md hidden-lg" href="#"><i class="fa fa-pencil"></i> Edit</a>*@
        <div class="col-sm-8">
            <h3 style="margin-top: 5px; font-weight: 400">
                Who I am
                @if (User.Identity.GetUserId() == Model.ProfileUserId)
                {
                    <a id="button-edit-self-summary" href="#"><small><i class="fa fa-pencil"></i></small></a>
                }
            </h3>
            <div id="edit-self-summary" class="hidden">
                <textarea id="text-edit-self-summary" class="form-control" rows="5" style="margin-bottom: 10px" placeholder="Enter a brief summary of who are you. Don't overthink it!">@Model.SummaryOfSelf</textarea>
                <button id="button-save-self-summary" class="btn btn-primary">Save</button>
                <button id="button-cancel-self-summary" class="btn btn-default">Cancel</button>
            </div>
            <p id="self-summary">@(!String.IsNullOrEmpty(Model.SummaryOfSelf) ? Model.SummaryOfSelf : "This user hasn't entered a self summary yet.")</p>
            <h3 style="margin-top: 30px; font-weight: 400">
                What I'm doing
                @if (User.Identity.GetUserId() == Model.ProfileUserId)
                {
                    <a id="button-edit-summary-of-doing" href="#"><small><i class="fa fa-pencil"></i></small></a>
                }
            </h3>
            <div id="edit-summary-of-doing" class="hidden">
                <textarea id="text-edit-summary-of-doing" class="form-control" rows="5" style="margin-bottom: 10px" placeholder="Enter a brief summary of what you're recently doing.">@Model.SummaryOfDoing</textarea>
                <button id="button-save-summary-of-doing" button-cancel-summary-of-going class="btn btn-primary">Save</button>
                <button id="button-cancel-summary-of-doing" class="btn btn-default">Cancel</button>
            </div>
            <p id="summary-of-doing">@(!String.IsNullOrEmpty(Model.SummaryOfDoing) ? Model.SummaryOfDoing : "This user hasn't entered what they're doing yet.")</p>
            <h3 style="margin-top: 30px; font-weight: 400">
                Where I'm going
                @if (User.Identity.GetUserId() == Model.ProfileUserId)
                {
                    <a id="button-edit-summary-of-going" href="#"><small><i class="fa fa-pencil"></i></small></a>
                }
            </h3>
            <div id="edit-summary-of-going" class="hidden">
                <textarea id="text-edit-summary-of-going" class="form-control" rows="5" style="margin-bottom: 10px" placeholder="Enter a brief summary of where you want to be in a few years.">@Model.SummaryOfGoing</textarea>
                <button id="button-save-summary-of-going" class="btn btn-primary">Save</button>
                <button id="button-cancel-summary-of-going" class="btn btn-default">Cancel</button>
            </div>
            <p id="summary-of-going">@(!String.IsNullOrEmpty(Model.SummaryOfGoing) ? Model.SummaryOfGoing : "This user hasn't entered where they're going yet.")</p>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-xs-12">
                    <h4 style="margin-top: 5px; font-weight: 400">
                        What I'm looking for
                        @if (User.Identity.GetUserId() == Model.ProfileUserId)
                        {
                            <a data-toggle="modal" data-target="#modalWhatImLookingFor" data-keyboard="true" href="#"><small><i class="fa fa-pencil"></i></small></a>
                        }
                    </h4>
                    <table class="table">
                        <tr>
                            <td class="col-md-6" style="color: #777">Type</td>
                            <td class="col-md-6">@(!String.IsNullOrEmpty(Model.LookingForType) ? Model.LookingForType : "Unknown")</td>
                        </tr>
                        <tr>
                            <td class="col-md-6" style="color: #777">Ages</td>
                            <td class="col-md-6">
                                @if (Model.LookingForAgeMin.HasValue && Model.LookingForAgeMax.HasValue)
                                {
                                    <span>@String.Format("{0}-{1}", Model.LookingForAgeMin.Value, Model.LookingForAgeMax.Value)</span>
                                }
                                else if (Model.LookingForAgeMin.HasValue && !Model.LookingForAgeMax.HasValue)
                                {
                                    <span>@String.Format("{0}-Any", Model.LookingForAgeMin.Value)</span>
                                }
                                else if (!Model.LookingForAgeMin.HasValue && Model.LookingForAgeMax.HasValue)
                                {
                                    <span>@String.Format("Any-{0}", Model.LookingForAgeMin.Value)</span>
                                }
                                else if (!Model.LookingForAgeMin.HasValue && !Model.LookingForAgeMax.HasValue)
                                {
                                    @:Any
                        }
                            </td>

                        </tr>
                        <tr>
                            <td class="col-md-6" style="color: #777">Location</td>
                            <td class="col-md-6">@(!String.IsNullOrEmpty(Model.LookingForLocation) ? Model.LookingForLocation : "Unknown")</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h4 style="font-weight: 400">
                        My details
                        @if (User.Identity.GetUserId() == Model.ProfileUserId)
                        {
                            <a data-toggle="modal" data-target="#modalMyDetails" data-keyboard="true" href="#"><small><i class="fa fa-pencil"></i></small></a>
                        }
                    </h4>
                    <table class="table">
                        <tr>
                            <td class="col-md-6" style="color: #777">Last online</td>
                            <td class="col-md-6">@Model.LastLoginTimeAgo</td>
                        </tr>
                        <tr>
                            <td class="col-md-6" style="color: #777">Status</td>
                            <td class="col-md-6">@(!String.IsNullOrEmpty(Model.RelationshipStatus) ? Model.RelationshipStatus : "Unknown")</td>
                        </tr>
                        <tr>
                            <td class="col-md-6" style="color: #777">Languages</td>
                            <td class="col-md-6">
                                @if (Model.Languages != null && Model.Languages.Count > 0)
                                {
                                    @String.Join(", ", Model.Languages)
                                }
                                else
                                {
                                    @:Unknown
                        }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h4 style="font-weight: 400; margin-bottom: 0">
                        Similar People
                    </h4>
                    <hr style="margin: 5px 0" />
                    <div class="similar-people text-center">
                        @foreach (var profile in Model.SimilarUsers)
                        {
                            <div class="col-xs-3 col-sm-4">
                                <a href="@Url.Action("index", "profile", new { id = profile.ProfileId})">
                                    @Html.Partial("_ProfileImagePartial", profile.ProfileThumbnailImagePath)
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>