@model TwolipsDating.ViewModels.CreateProfileViewModel
@{
    ViewBag.Title = "Your profile will be here soon";
    ViewBag.Description = "twolips allows you to create and maintain your personal dating profile with automatic build up based on your community actions";
}
<div class="row">
    @if (Model.IsCurrentUserEmailConfirmed)
    {
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h2>Your profile will be here soon!</h2>
                        <h4>Fill out some info below to finalize it.</h4>
                        <h4>Consider sharing your profile with us at the networks below.</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-lg-2 col-lg-offset-3">
                            <a href="http://twitter.com/twolipsdating" style="width: 100%;" class="btn btn-twitter" title="Follow us on Twitter">
                                <span class="fa-stack">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse-twitter"></i>
                                </span>
                                Follow on Twitter
                            </a>
                        </div>
                        <div class="col-sm-4 col-lg-2">
                            <a href="http://facebook.com/twolipsdating" style="width: 100%;" type="submit" class="btn btn-facebook" title="Like us on Facebook">
                                <span class="fa-stack">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse-facebook"></i>
                                </span>
                                Like on Facebook
                            </a>
                        </div>
                        <div class="col-sm-4 col-lg-2">
                            <a href="http://plus.google.com/+twolipsdating" style="width: 100%;" class="btn btn-google-plus" title="Follow us on Google+">
                                <span class="fa-stack">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-google-plus fa-stack-1x fa-inverse-google-plus"></i>
                                </span>
                                Follow on Google+
                            </a>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                            @using (Html.BeginForm("create", "profile", FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(false)

                                <p class="control-label">What are you?</p>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        @Html.DropDownListFor(m => m.SelectedGenderId,
                            new SelectList(Model.Genders, "Key", "Value"),
                            new { @class = "form-control", data_placeholder = "What are you?" })
                                    </div>
                                </div>
                                <p class="control-label">What city do you live in?</p>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="ff_nm_from[]" value="" id="f_elem_city" />
                                        @Html.HiddenFor(m => m.SelectedLocation)
                                    </div>
                                </div>
                                <p class="control-label">When were you born?</p>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.BirthMonth, new { @class = "form-control", @placeholder = "MM", maxlength = "2" })
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.BirthDayOfMonth, new { @class = "form-control", @placeholder = "DD", maxlength = "2" })
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.BirthYear, new { @class = "form-control", @placeholder = "YYYY", maxlength = "4" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary pull-right">OK</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        @Html.Partial("_ConfirmEmailPartial")
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/jquery-ui")
    <script src="@Url.Content("~/Scripts/Profile/create.js")" type="text/javascript"></script>
}
@section Styles {
    @Styles.Render("~/Content/chosen")
    @Styles.Render("~/Content/jquery-ui")
    @Styles.Render("~/Content/font-awesome")
}