@model TwolipsDating.ViewModels.CreateProfileViewModel
@{
    ViewBag.Title = "Your profile will be here soon";
    ViewBag.Description = "twolips allows you to create and maintain your personal dating profile with automatic build up based on your community actions";
}
<div class="row">
    @if (Model.IsCurrentUserEmailConfirmed)
    {
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h2>Your profile will be here soon!</h2>
                        <h4>Fill out some info below to finalize it.</h4>
                        <h4>Consider sharing your profile with us at the networks below.</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                            <div id="adblocker-warning-create" class="hidden alert alert-warning alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <p style="margin: 0; font-size: 14px">
                                    <i class="fa fa-warning fa-fw fa-lg"></i> Adblockers may prevent you from creating a profile. If you have trouble selecting a city below, disable your adblocker and try again.
                                </p>
                            </div>
                            @using (Html.BeginForm("create", "profile", FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(false)

                                <p class="control-label">What are you?</p>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        @Html.DropDownListFor(m => m.SelectedGenderId,
                            new SelectList(Model.Genders, "Key", "Value"),
                            new { @class = "form-control", data_placeholder = "What are you?" })
                                    </div>
                                </div>
                                <p class="control-label">What city do you live in?</p>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="ff_nm_from[]" value="" id="f_elem_city" />
                                        @Html.HiddenFor(m => m.SelectedLocation)
                                    </div>
                                </div>
                                <p class="control-label">When were you born?</p>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        @Html.DropDownListFor(m => m.BirthMonth,
                                            new SelectList(Model.Months, "Key", "Value"),
                                            new { @class = "form-control", data_placeholder = "What month were you born?" })
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        @Html.DropDownListFor(m => m.BirthDayOfMonth,
                                            new SelectList(Model.Days, "Key", "Value"),
                                            new { @class = "form-control", data_placeholder = "What day in the month were you born?" })
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        @Html.DropDownListFor(m => m.BirthYear,
                                            new SelectList(Model.Years, "Key", "Value"),
                                            new { @class = "form-control", data_placeholder = "What year were you born?" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="control-label">Check the box below to prove you're human</p>
                                    <div class="g-recaptcha" data-sitekey="6Lcv__sSAAAAAJakKXYAdl-MhgwSr8K_Pbrs-NxZ"></div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-check fa-lg fa-fw"></i> Create
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        @Html.Partial("_ConfirmEmailPartial")
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/profile/create")
    <script src='https://www.google.com/recaptcha/api.js'></script>
}
@section Styles {
    @Styles.Render("~/Content/chosen")
    @Styles.Render("~/Content/jquery-ui")
    @Styles.Render("~/Content/font-awesome")
}