@model TwolipsDating.ViewModels.SpotlightSaleViewModel

@if (Model != null)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                Gift Spotlight
            </div>
        </div>
        <div class="panel-body text-center">
            <div class="store-item-wrapper" title="@Model.StoreItem.ItemDescription" data-animation="false">
                <div style="min-height: 155px; padding: 5px">
                    @if (!String.IsNullOrEmpty(Model.StoreItem.ItemImagePath))
                    {
                        <img src="@Model.StoreItem.ItemImagePath" />
                    }
                    else
                    {
                        <img src="http://placehold.it/64x64" />
                    }
                    <div class="store-item-details">
                        <h4>@Model.StoreItem.ItemName</h4>

                        <span style="color: #a1a1a1">
                            <s>
                                <i class="glyphicon glyphicon-piggy-bank"></i>
                                @Model.StoreItem.PointsCost
                            </s>
                        </span>
                        &nbsp;
                        <i class="glyphicon glyphicon-piggy-bank"></i>
                        @Model.DiscountedPointsCost
                        <span class="label label-success">@Model.DiscountPercent</span>
                        <br />
                        Sales ends in @Model.TimeUntilEnd
                    </div>
                    <div class="store-item-buy hidden">
                        <h4>@Model.StoreItem.ItemName</h4>
                        <button type="button" href="#" class="btn btn-success btn-block">
                            <i class="glyphicon glyphicon-piggy-bank"></i>
                            @Model.DiscountedPointsCost
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-center">
            <small><a href="#">View all gifts</a></small>
        </div>
    </div>
}