@model TwolipsDating.ViewModels.StoreItemViewModel

@if (Model != null)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                Sale Spotlight
            </div>
        </div>
        <div class="panel-body text-center">
            <div class="store-item-wrapper" title="@Model.ItemDescription" data-animation="false">
                <div style="min-height: 155px; padding: 5px">
                    <h4 style="position: absolute; margin: 0">
                        <span class="label label-success">@Model.DiscountPercent</span>
                    </h4>
                    @if (!String.IsNullOrEmpty(Model.ItemImagePath))
                    {
                        <img src="@Model.ItemImagePath" />
                    }
                    else
                    {
                        <img src="http://placehold.it/64x64" />
                    }
                    <div class="store-item-details">
                        <h4>@Model.ItemName</h4>

                        <span style="color: #a1a1a1">
                            <s>
                                <i class="fa fa-money"></i>
                                @Model.PointsCost
                            </s>
                        </span>
                        &nbsp;
                        <i class="fa fa-money"></i>
                        @Model.DiscountedPointsCost
                        <br />
                        Sales ends in @Model.TimeUntilSaleEnds
                    </div>
                    <div class="store-item-buy hidden">
                        <h4>@Model.ItemName</h4>
                        <button type="button" href="#" class="store-item-buy-button btn btn-success btn-block"
                                data-item-id="@Model.ItemId" data-item-type-id="@Model.ItemTypeId">
                            <i class="fa fa-money"></i>
                            @Model.DiscountedPointsCost
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-center">
            <small><a href="#">View all sales</a></small>
        </div>
    </div>
}