@model IReadOnlyCollection<TwolipsDating.ViewModels.StoreItemViewModel>

@foreach (var storeItem in Model)
{
    <div class="store-item-wrapper col-lg-3 col-md-4 col-sm-4 col-xs-6 text-center" style="min-height: 200px;"
         title="@storeItem.ItemDescription" data-placement="auto top" data-animation="false">
        <div class="store-item" style="border: 1px solid transparent; padding: 5px">
            @*<span class="label label-danger" style="position: absolute; top: 3px; left: 40px;">
                    New
                </span>*@
            @if (!String.IsNullOrEmpty(storeItem.ItemImagePath))
            {
                <img src="@storeItem.ItemImagePath" />
            }
            else
            {
                <img src="http://placehold.it/64x64" />
            }
            <div class="store-item-details">
                <h4>@storeItem.ItemName</h4>
                <p style="margin-bottom: 0; color: #999">@((TwolipsDating.Models.StoreItemTypeValues)storeItem.ItemTypeId)</p>
                @if (storeItem.Discount.HasValue)
                {
                    <span style="color: #a1a1a1">
                        <s>
                            <i class="glyphicon glyphicon-piggy-bank"></i>
                            @storeItem.PointsCost
                        </s>
                    </span>
                    @:&nbsp;
                }
                <i class="glyphicon glyphicon-piggy-bank"></i>
                @storeItem.DiscountedPointsCost
                @if (storeItem.Discount.HasValue)
                {
                    <span class="label label-success">@storeItem.DiscountPercent</span>
                    <br />
                    @:Sales ends in @storeItem.TimeUntilSaleEnds
                }
            </div>
            <div class="store-item-buy hidden">
                <h4>@storeItem.ItemName</h4>
                <button type="button" href="#" class="store-item-buy-button btn btn-success btn-block"
                        data-item-id="@storeItem.ItemId" data-item-type-id="@storeItem.ItemTypeId">
                    <i class="glyphicon glyphicon-piggy-bank"></i>
                    @storeItem.DiscountedPointsCost
                </button>
            </div>
        </div>
    </div>
}
