@using TwolipsDating.ViewModels
@model StoreViewModel

@{
    ViewBag.Title = "twolips - points store";
}

<div class="modal fade" id="modalGift" tabindex="-1" role="dialog" aria-labelledby="modalGiftLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalReviewLabel">Confirm your purchase amount</h4>
            </div>
            <div class="modal-body">
                <p>How many <strong><span id="span-gift-name"></span></strong> do you want to buy?</p>
                <p><input type="number" style="width: 75px;" min="1" max="100" id="text-gift-count" oninput="onTextGiftCountBlur()" />&nbsp;&times;&nbsp;<i class="glyphicon glyphicon-piggy-bank"></i>&nbsp;<span id="span-gift-price"></span></p>
                <p id="text-charged">You will be charged <i class="glyphicon glyphicon-piggy-bank"></i><strong> <span id="span-total-price"></span></strong>.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" onclick="onBuyGift(event, this)" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
            <input type="hidden" id="hidden-gift-id" />
            <input type="hidden" id="hidden-gift-name" />
            <input type="hidden" id="hidden-gift-price" />
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_DropDownMenuPartial", new TwolipsDating.ViewModels.DropDownMenuViewModel() { ActiveMenuText = ActiveMenuText.Store })
        <div class="pull-right">
            <ul class="nav nav-pills">
                <li role="presentation">
                    <a href="#" title="Profile colors"><i class="glyphicon glyphicon-tint"></i>&nbsp;Colors</a>
                </li>
                <li role="presentation">
                    <a href="@Url.Action("titles")" title="Profile titles"><i class="glyphicon glyphicon-tag"></i>&nbsp;Titles</a>
                </li>
                <li role="presentation" class="active">
                    <a href="@Url.Action("gifts")" title="Gifts"><i class="glyphicon glyphicon-gift"></i>&nbsp;Gifts</a>
                </li>
            </ul>
        </div>
    </div>
</div>

@if (Model.IsCurrentUserEmailConfirmed)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="purchase-result" class="alert alert-success alert-dismissible fade in" role="alert">
                        <span id="purchase-result-message"></span>
                    </div>
                    @foreach (var gift in Model.StoreGifts)
                    {
                        <div class="col-sm-2">
                            <div class="thumbnail">
                                <img src="@gift.GiftImagePath" alt="@gift.GiftName">
                                <div class="caption">
                                    <h4>@gift.GiftName</h4>
                                    <p>@gift.GiftDescription</p>
                                    <i class="glyphicon glyphicon-piggy-bank"></i>
                                    @gift.PointPrice&nbsp;
                                    <p class="pull-right">
                                        <a href="#" data-toggle="modal" data-target="#modalGift" data-keyboard="true" class="btn btn-primary btn-xs" role="button"
                                           data-gift-id="@gift.GiftId" data-gift-name="@gift.GiftName" data-gift-price="@gift.PointPrice">
                                            <i class="glyphicon glyphicon-ok"></i>
                                            &nbsp;Buy
                                        </a>
                                    </p>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h4>You need to confirm your email address before you can use the store.</h4>
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/Store/gifts.js")" type="text/javascript"></script>
}
