@using TwolipsDating.ViewModels
@model StoreViewModel

@{
    ViewBag.Title = "store";
    ViewBag.Description = "twolips dating is a community focused on providing people with the ability to meet likeminded friends and colleagues through a variety of activities and challenges.";
    ViewBag.ImageUrl = Url.Content("~/Content/twolipsicon-white-180x180.png");
}
@Html.Partial("_ItemAddedConfirmationPartial")
<div class="row">
    <div class="col-md-3">
        @if (Model.Spotlight != null)
        {
            @Html.Partial("_SaleSpotlightPartial", Model.Spotlight)
        }
        @if (Model.GiftSpotlight != null)
        {
            @Html.Partial("_GiftSpotlightPartial", Model.GiftSpotlight)
        }
        <div class="ad">
            <!-- Store - Sidebar - 1 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1823005717277864"
                 data-ad-slot="2718406231"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="@Url.Action("cart", "store")" class="btn btn-default pull-right">
                    <i class="glyphicon glyphicon-shopping-cart"></i> View cart (<span id="shopping-cart-count">@Model.ShoppingCartItemCount</span>)
                </a>
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="@Url.Action("index", "store")">New</a></li>
                    <li role="presentation"><a href="@Url.Action("popular", "store")">Popular</a></li>
                    <li role="presentation"><a href="@Url.Action("sale", "store")">On Sale</a></li>
                </ul>
                <hr />
                @Html.Partial("_StoreItemsPartialView", Model.StoreItems)
            </div>
        </div>
    </div>
    <!-- Store - Footer - 1 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1823005717277864"
         data-ad-slot="4806928234"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

@section Scripts {
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="@Url.Content("~/Scripts/Store/index.js")" type="text/javascript"></script>
}
