@model TwolipsDating.ViewModels.AchievementProgressViewModel

<img src="@Model.AchievementIconPath" style="border-radius: 64px;" />
<div class="progress" style="margin: 3px auto; width: 75%">
    <div id="progress-quizzes-completed" class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
         aria-valuenow="@Model.PercentComplete" aria-valuemin="0" aria-valuemax="100"
         style="width: @Model.PercentComplete%">
        <span class="sr-only">Calculating...</span>
    </div>
</div>
<p class="text-info"><strong>@Model.AchievedCount of @Model.RequiredCount</strong></p>
@if (Model.IncreaseAchievedCount > 0)
{
    <p class="text-success"><strong>You gained @Model.IncreaseAchievedCount</strong></p>
}
else
{
    <p class="text-success"><strong>No gain</strong></p>
}