@model TwolipsDating.ViewModels.QuestionViewModel

@if (Model != null && !String.IsNullOrEmpty(Model.Content))
{
    <div class="panel-body">
        @if (!User.Identity.IsAuthenticated)
        {
            <div id="alert-box" class="alert alert-info">
                <h5>You can answer this question by <a href="@Url.Action("login", "account")" class="alert-link">logging in</a>.</h5>
            </div>
        }
        else
        {
            if (Model.QuestionTypeId == (int)TwolipsDating.Models.QuestionTypeValues.Timed)
            {
                <div id="alert-box" class="alert alert-info">
                    <h5>Click or tap to select an answer. You have <span id="timer-label">10</span> seconds remaining.</h5>
                </div>
            }
        }
        <div class="col-xs-7 col-sm-10" style="padding-left: 0; padding-right: 0">
            <h4 style="margin-top: 0">@Model.Content</h4>
        </div>
        <div class="col-xs-5 col-sm-2 share-buttons text-right" style="padding-left: 0; padding-right: 0">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="#" data-toggle="modal" data-target="#modalQuestionViolation" class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-flag"></i> Report
                </a>
            }
        </div>
        <div class="clearfix"></div>
        @if (Model.Tags != null && Model.Tags.Count > 0)
        {
            <i class="glyphicon glyphicon-tags"></i>
            @:&nbsp;
            <div class="tags" style="display: inline-block">
                @foreach (var tag in Model.Tags)
                {
                    <a href="@Url.Action("index", "search", new { tags = tag.Name })" class="custom-tooltip btn btn-default btn-xs" title="@tag.Description">
                        @tag.Name
                    </a>
                }
            </div>
            <br />
        }
        <i class="fa fa-money"></i>
        &nbsp;
        @Html.Partial("_QuizRatingBarPartial", Model.Points)
    </div>
    <div class="list-group">
        @foreach (var answer in @Model.Answers)
        {
            if (User.Identity.IsAuthenticated)
            {
                <a href="#" id="@String.Format("answer-{0}", answer.AnswerId)" class="answer-link list-group-item" data-answer-id="@answer.AnswerId">
                    @answer.Content
                    <span id="@String.Format("icon-correct-{0}", answer.AnswerId)" class="icon-correct pull-right hidden"><i class="glyphicon glyphicon-ok"></i></span>
                    <span id="@String.Format("icon-incorrect-{0}", answer.AnswerId)" class="icon-incorrect pull-right hidden"><i class="glyphicon glyphicon-remove"></i></span>
                </a>
            }
            else
            {
                <a href="#" id="@String.Format("answer-{0}", answer.AnswerId)" class="list-group-item disabled">
                    @answer.Content
                </a>
            }
        }
    </div>
    <div class="panel-body">
        @if (User.Identity.IsAuthenticated)
        {
            if (Model.QuestionTypeId == (int)TwolipsDating.Models.QuestionTypeValues.Random)
            {
                <a id="button-skip" href="@Url.Action("random", "trivia")" class="btn btn-default btn-sm" title="Skip this question">Skip <i class="glyphicon glyphicon-chevron-right"></i> </a>
                <a id="button-next" href="@Url.Action("random", "trivia")" class="btn btn-primary btn-sm hidden" title="Get next question"><i class="glyphicon glyphicon-random"></i> Next</a>
            }
            else
            {
                <a id="button-skip" href="@Url.Action("timed", "trivia")" class="btn btn-default btn-sm" title="Skip this question">Skip <i class="glyphicon glyphicon-chevron-right"></i> </a>
                <a id="button-next" href="@Url.Action("timed", "trivia")" class="btn btn-primary btn-sm hidden" title="Get next question"><i class="glyphicon glyphicon-random"></i> Next</a>
            }
            @Html.HiddenFor(m => m.QuestionId)
        }
        else
        {
            <a href="@Url.Action("login", "account")" class="btn btn-primary">Log in to answer this question</a>
        }
    </div>
}
else
{
    <div class="panel-body">
        <h4>You're a machine. You've answered every question we have.</h4>
    </div>
}
