@model IReadOnlyCollection<TwolipsDating.ViewModels.UserCompletedQuizViewModel>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <i class="glyphicon glyphicon-user"></i> Recently Completed
        </h4>
    </div>
    @if (Model != null && Model.Count > 0)
    {
        <div class="list-group">
            @foreach (var user in Model)
            {
                <a href="@Url.Action("index", "profile", new { id = user.ProfileId })" class="list-group-item" style="padding: 5px 10px">
                    <span class="badge" style="margin-top: 17px">@user.TimeAgo</span>
                    @Html.Partial("_ProfileImagePartial", user.ProfileImagePath)
                    <div class="profile-info-wrapper">
                        <span class="name-and-location">
                            @user.UserName
                        </span>
                        <br />
                        <span style="color: #999">Score: @String.Format("{0}%", user.UserScorePercent)</span>
                    </div>
                </a>
            }
        </div>
    }
    else
    {
        <div class="panel-body">
            <p>No one has completed this quiz yet!</p>
        </div>
    }
</div>
