@model TwolipsDating.ViewModels.TriviaCategoryViewModel
@using TwolipsDating.Utilities;

@{
    ViewBag.Title = "Free " + Model.ActiveQuizCategoryName + " Quizzes, Trivia, and Games";
    ViewBag.Description = "Play free " + Model.ActiveQuizCategoryName + " quizzes, trivia, and games on Twolips. Find friends with similar knowledge of " + Model.ActiveQuizCategoryName + ".";
}

@if (HttpContext.Current.AreAdsEnabled())
{
    if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <div class="ad-banner-sm">
            <!-- Quiz Category - Top - 1 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1823005717277864"
                 data-ad-slot="9109469432"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    }
    else
    {
        <div style="width: 610px; margin: 5px auto;">
            <img src="http://placehold.it/600x90" />
        </div>
    }
}
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-pills quiz-categories">
                    <li role="presentation"><a href="@Url.Action("index", "trivia")"><i class="fa fa-rocket fa-lg fa-fw"></i> <span class="hidden-xs">Featured</span></a></li>
                    <li role="presentation" class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-sitemap fa-lg fa-fw"></i> <span class="hidden-xs">Categories</span> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var category in Model.QuizCategories)
                            {
                                if (category.QuizCategoryId == Model.ActiveQuizCategoryId)
                                {
                                    <li role="presentation" class="active">
                                        <a href="@Url.Action("category", "trivia", new { id = category.QuizCategoryId })">
                                            <i class="fa @category.QuizIcon fa-lg fa-fw"></i>
                                            @category.QuizName
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li role="presentation">
                                        <a href="@Url.Action("category", "trivia", new { id = category.QuizCategoryId })">
                                            <i class="fa @category.QuizIcon fa-lg fa-fw"></i>
                                            @category.QuizName
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                    <li role="presentation"><a href="@Url.Action("top", "trivia")"><i class="fa fa-star fa-lg fa-fw"></i> <span class="hidden-xs">Top Players</span></a></li>
                    <li class="dropdown" role="presentation">
                        <a href="#" aria-controls="dropdowncontents" data-toggle="dropdown">
                            <i class="fa fa-question-circle fa-lg"></i> <span class="hidden-xs">Questions</span> <span class="caret"></span>
                        </a>
                        <ul id="dropdowncontents" class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("random", "trivia")">
                                    <i class="fa fa-random fa-lg fa-fw"></i> Random
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("timed", "trivia")">
                                    <i class="fa fa-clock-o fa-lg fa-fw"></i> Timed
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Partial("_SignUpIncentivePartial")
                <div class="quiz-list">
                    <h3><i class="fa @Model.ActiveQuizCategoryIcon fa-lg fa-fw"></i> @Model.ActiveQuizCategoryName Quizzes</h3>
                    <hr />
                    @foreach (var quiz in Model.Quizzes)
                    {
                        <div class="row quiz-item">
                            <div class="col-xs-4">
                                <a href="@Url.Action("quiz", new { id = quiz.Id })">
                                    <img class="pull-left img-responsive" src="@quiz.ThumbnailImagePath" alt="@quiz.Name">
                                </a>
                            </div>
                            <div class="col-xs-8">
                                <h4 class="quiz-title">
                                    <a href="@Url.Action("quiz", new { id = quiz.Id })">@quiz.Name</a>
                                </h4>
                                <p>
                                    <a href="@Url.Action("category", "trivia", new { id = @quiz.QuizCategoryId })" class="label label-info">@quiz.QuizCategoryName.ToUpper()</a>
                                    @if (quiz.IsComplete)
                                    {
                                        <span class="label label-success">COMPLETED</span>
                                    }
                                    else
                                    {
                                        if (quiz.AveragePoints > 0)
                                        {
                                            @Html.Partial("_QuizRatingBarPartial", quiz.AveragePoints)
                                        }
                                        else
                                        {
                                            <span class="label label-danger">NOT RATED</span>
                                        }
                                    }
                                </p>
                                <p class="quiz-description">@quiz.Description</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        @Html.Partial("_SidebarTrendingNowPartial", Model.TrendingQuizzes)

        @if (HttpContext.Current.AreAdsEnabled())
        {
            <div class="col-sm-6 col-md-12">
                @if (!HttpContext.Current.IsDebuggingEnabled)
                {
                    <div class="ad">
                        <!-- Quiz Category - Right - 1 -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-1823005717277864"
                             data-ad-slot="3062935836"
                             data-ad-format="auto"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                }
                else
                {
                    <div class="text-center" style="margin: 5px auto;">
                        <img src="http://placehold.it/350x250" />
                    </div>
                }
            </div>
        }

        @Html.Partial("_SidebarRecentQuizActivityPartial", Model.RecentlyCompletedQuizzes)

        @Html.Partial("_SidebarMostPopularQuizzesPartial", Model.PopularQuizzes)

        @if (HttpContext.Current.AreAdsEnabled())
        {
            <div class="col-sm-6 col-md-12">
                @if (!HttpContext.Current.IsDebuggingEnabled)
                {
                    <div class="ad">
                        <!-- Quiz Category - Right - 2 -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-1823005717277864"
                             data-ad-slot="4539669036"
                             data-ad-format="auto"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                }
                else
                {
                    <div class="text-center" style="margin: 5px auto;">
                        <img src="http://placehold.it/350x250" />
                    </div>
                }
            </div>
        }
    </div>
</div>
@section Scripts {
    @if (HttpContext.Current.AreAdsEnabled() && !HttpContext.Current.IsDebuggingEnabled)
    {
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    }
}
