@model TwolipsDating.ViewModels.TriviaDashboardViewModel
@using TwolipsDating.Utilities;

@{
    ViewBag.Title = "Free Online Games, Quizzes, and Trivia Site";
    ViewBag.Description = "Play hundreds of daily free online trivia, games, and quizzes about Science, Video Games, History, TV, Movies, Books, and more!";
}
@if (HttpContext.Current.AreAdsEnabled())
{
    if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <div class="ad-banner-sm">
            <!-- TriviaDashboard - Middle - 1 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1823005717277864"
                 data-ad-slot="1241673033"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    }
    else
    {
        <div style="width: 610px; margin: 5px auto;">
            <img src="http://placehold.it/600x90" />
        </div>
    }
}
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-pills quiz-categories">
                    <li role="presentation" class="active"><a href="@Url.Action("index", "trivia", new { id = (int?)null })"><i class="fa fa-rocket fa-lg fa-fw"></i> <span class="hidden-xs">Featured</span></a></li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-sitemap fa-lg fa-fw"></i> <span class="hidden-xs">Categories</span> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var category in Model.QuizCategories)
                            {
                                <li role="presentation">
                                    <a href="@Url.Action("category", "trivia", new { id = category.QuizCategoryId })">
                                        <i class="fa @category.QuizIcon fa-lg fa-fw"></i>
                                        @category.QuizName
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li role="presentation"><a href="@Url.Action("top", "trivia")"><i class="fa fa-star fa-lg fa-fw"></i> <span class="hidden-xs">Top Players</span></a></li>
                    <li class="dropdown" role="presentation">
                        <a href="#" aria-controls="dropdowncontents" data-toggle="dropdown">
                            <i class="fa fa-question-circle fa-lg"></i> <span class="hidden-xs">Questions</span> <span class="caret"></span>
                        </a>
                        <ul id="dropdowncontents" class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("random", "trivia")">
                                    <i class="fa fa-random fa-lg fa-fw"></i> Random
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("timed", "trivia")">
                                    <i class="fa fa-clock-o fa-lg fa-fw"></i> Timed
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Partial("_SignUpIncentivePartial")
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#daily" aria-controls="daily" role="tab" data-toggle="tab">
                            <i class="fa fa-calendar fa-lg"></i> <span class="hidden-xs">Daily Trivia</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#new" aria-controls="new" role="tab" data-toggle="tab">
                            <i class="fa fa-asterisk fa-lg"></i> <span class="hidden-xs">New</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#unfinished" aria-controls="unfinished" role="tab" data-toggle="tab">
                            <i class="fa fa-file-text-o fa-lg"></i> <span class="hidden-xs">Unplayed</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active quiz-list" id="daily">
                        @foreach (var daysAgo in Model.DailyQuizzes.Keys)
                        {
                            var quizList = Model.DailyQuizzes[daysAgo];
                            var dayAgo = DateTime.Today.AddDays(daysAgo * -1);

                            if (daysAgo == 0)
                            {
                                <h3>Today's Quizzes <small>@dayAgo.ToString("MMMM dd")</small></h3>
                            }
                            else if (daysAgo == 1)
                            {
                                <h3>Yesterday's Quizzes <small>@dayAgo.ToString("MMMM dd")</small></h3>
                            }
                            else if (daysAgo >= 2)
                            {
                                <h3>@String.Format("{0}'s Quizzes", dayAgo.DayOfWeek.ToString()) <small>@dayAgo.ToString("MMMM d")</small></h3>
                            }
                            <hr />
                            foreach (var quiz in quizList)
                            {
                                <div class="quiz-item">
                                    @Html.Partial("_QuizOverviewPartial", quiz)
                                </div>
                            }
                        }
                    </div>
                    <div role="tabpanel" class="tab-pane" id="new">
                        @foreach (var quiz in Model.NewQuizzes)
                        {
                            @Html.Partial("_QuizOverviewPartial", quiz)
                        }
                    </div>
                    <div role="tabpanel" class="tab-pane" id="unfinished">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (Model.UnfinishedQuizzes != null && Model.UnfinishedQuizzes.Count > 0)
                            {
                                foreach (var quiz in Model.UnfinishedQuizzes)
                                {
                                    @Html.Partial("_QuizOverviewPartial", quiz)
                                }
                            }
                            else
                            {
                                <h4>You have finished every quiz we have!</h4>
                            }
                        }
                        else
                        {
                            <h4>You can track your unfinished quiz progress by <a href="@Url.Action("register", "account")">signing up</a>.</h4>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        @Html.Partial("_SidebarTrendingNowPartial", Model.TrendingQuizzes)

        @if (HttpContext.Current.AreAdsEnabled())
        {
            <div class="col-sm-6 col-md-12">
                @if (!HttpContext.Current.IsDebuggingEnabled)
                {
                    <div class="col-md-4 col-sm-6">
                        <div class="ad">
                            <!-- Trivia Dashboard - Right 1 -->
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-1823005717277864"
                                 data-ad-slot="3552777032"
                                 data-ad-format="auto"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                    </div>
                }
                else
                {
                    <div class="text-center" style="margin: 5px auto;">
                        <img src="http://placehold.it/350x250" />
                    </div>
                }
            </div>
        }

        @Html.Partial("_SidebarRecentQuizActivityPartial", Model.RecentlyCompletedQuizzes)

        @Html.Partial("_SidebarMostPopularQuizzesPartial", Model.PopularQuizzes)

        @if (HttpContext.Current.AreAdsEnabled())
        {
            <div class="col-sm-6 col-md-12">
                @if (!HttpContext.Current.IsDebuggingEnabled)
                {
                    <div class="col-md-4 col-sm-6">
                        <div class="ad">
                            <!-- Trivia Dashboard - Right 2 -->
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-1823005717277864"
                                 data-ad-slot="5029510239"
                                 data-ad-format="auto"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                    </div>
                }
                else
                {
                    <div class="text-center" style="margin: 5px auto;">
                        <img src="http://placehold.it/350x250" />
                    </div>
                }
            </div>
        }
    </div>
</div>
@section Scripts {
    @if (HttpContext.Current.AreAdsEnabled() && !HttpContext.Current.IsDebuggingEnabled)
    {
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    }
}