@model TwolipsDating.ViewModels.TriviaMenuViewModel
@{
    ViewBag.Title = "twolips - answer trivia and quizzes";
    ViewBag.Description = "twolips dating is a community focused on providing people with the ability to meet likeminded friends and colleagues through a variety of activities and challenges.";
    ViewBag.ImageUrl = Url.Content("~/Content/twolipsicon-white-180x180.png");
}

@if (Model.IsCurrentUserEmailConfirmed)
{
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <i class="glyphicon glyphicon-refresh"></i>&nbsp;<a href="@Url.Action("random")">Random Questions</a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <i class="glyphicon glyphicon-time"></i>&nbsp;<a href="@Url.Action("timed")">Timed Questions</a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <i class="glyphicon glyphicon-king"></i>&nbsp;Specialized Quizzes
                    </div>
                </div>
                <div class="list-group">
                    @foreach (var quiz in Model.Quizzes)
                    {
                        if (quiz.IsComplete)
                        {
                            <a href="@Url.Action("quiz", new { id = quiz.Id })" class="list-group-item list-group-item-success">
                                <span class="badge">Completed</span>@quiz.Name
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("quiz", new { id = quiz.Id })" class="list-group-item">
                                <span class="badge">@quiz.Points points</span>@quiz.Name
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <i class="glyphicon glyphicon-stats"></i>&nbsp;Your Stats
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Total Points<span class="badge">@Model.UserStats.TotalPoints</span></li>
                    <li class="list-group-item">Questions Answered<span class="badge">@Model.UserStats.QuestionsAnswered</span></li>
                    <li class="list-group-item">Questions Answered Correctly<span class="badge">@Model.UserStats.QuestionsAnsweredCorrectly</span></li>
                    <li class="list-group-item">Random Questions Answered<span class="badge">@Model.UserStats.RandomQuestionsAnswered</span></li>
                    <li class="list-group-item">Random Questions Answered Correctly<span class="badge">@Model.UserStats.RandomQuestionsAnsweredCorrectly</span></li>
                    <li class="list-group-item">Timed Questions Answered<span class="badge">@Model.UserStats.TimedQuestionsAnswered</span></li>
                    <li class="list-group-item">Timed Questions Answered Correctly<span class="badge">@Model.UserStats.TimedQuestionsAnsweredCorrectly</span></li>
                    <li class="list-group-item">Quiz Questions Answered<span class="badge">@Model.UserStats.QuizQuestionsAnswered</span></li>
                    <li class="list-group-item">Quiz Questions Answered Correctly<span class="badge">@Model.UserStats.QuizQuestionsAnsweredCorrectly</span></li>
                    <li class="list-group-item">Quizzes Completed<span class="badge">@Model.UserStats.QuizzesCompleted</span></li>
                </ul>
            </div>
        </div>
    </div>
}
else
{
    <h4>You need to confirm your email address before you can play trivia.</h4>
}