@model TwolipsDating.ViewModels.QuizViewModel

@{
    ViewBag.Title = "twolips - quiz";
}

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_DropDownMenuPartial", new TwolipsDating.ViewModels.DropDownMenuViewModel() { ActiveMenuText = "Trivia" })
        <div class="pull-right">
            <h4>You're viewing the quiz: <strong>@Model.QuizName</strong></h4>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                @if (Model != null && Model.Questions != null && Model.Questions.Count > 0)
                {
                    using (Html.BeginForm("quiz", "trivia", FormMethod.Post, new { role = "form" }))
                    {
                        if (Model.IsAlreadyCompleted)
                        {
                            <div id="alert-box" class="alert alert-success">
                                <h4>You've already completed this quiz. View your selected answers below.</h4>
                            </div>
                        }
                        else
                        {
                            <div id="alert-box" class="alert alert-info">
                                <h4>Select answers to all questions and then press OK. There is no time limit.</h4>
                            </div>
                        }

                        for (int i = 0; i < Model.Questions.Count; i++)
                        {
                            var question = Model.Questions[i];
                            <p>@question.Content</p>
                            foreach (var answer in question.Answers)
                            {
                                <div class="radio">
                                    <label>
                                        @if (Model.Questions[i].IsAlreadyAnswered)
                                        {
                                            @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswerId, answer.AnswerId, new { disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswerId, answer.AnswerId)
                                        }
                                        @answer.Content
                                        &nbsp;&nbsp;
                                        @if (Model.Questions[i].IsAlreadyAnswered)
                                        {
                                            if (answer.IsCorrect)
                                            {
                                                <span class="label label-success">correct</span>
                                            }
                                            else
                                            {
                                                <span class="label label-danger">incorrect</span>
                                            }
                                        }
                                    </label>
                                </div>
                            }
                            @Html.HiddenFor(m => Model.Questions[i].QuestionId)
                            <hr />
                        }

                        if (!Model.IsAlreadyCompleted)
                        {
                            <input id="button-submit" type="submit" class="btn btn-sm btn-primary" value="OK" />
                        }
                        @Html.HiddenFor(m => m.QuizId)
                    }
                }
                else
                {
                    <h4>Something went wrong, and the quiz can't be loaded.</h4>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        function onSubmitAnswer(e, obj) {
            e.preventDefault();

            $("#button-next").addClass("hidden");
            $("#button-ok").removeClass("hidden");

            var questionId = $("#QuestionId").val();
            var selected = $("input[type='radio'][name='SelectedAnswerId']:checked");
            var answerId = "";
            if (selected.length > 0) {
                answerId = selected.val();
            }

            var json = "{\"questionId\":" + questionId + ", \"answerId\":" + answerId + "}";

            $.ajax({
                type: 'POST',
                url: '@Url.Action("submitanswer", "trivia")',
                data: json,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.success) {
                        if (data.isAnswerCorrect) {
                            $("#alert-box").removeClass("alert-success");
                            $("#alert-box").removeClass("alert-danger");
                            $("#alert-box").removeClass("alert-info");
                            $("#alert-box").addClass("alert-success");
                            $("#alert-box").html("<h4>Correct!</h4>");
                            $("#button-next").removeClass("hidden");
                            $("#button-next").addClass("btn-success");
                            $("#button-ok").addClass("hidden");
                            $("input[type='radio']").attr("disabled", true);
                        } else {
                            $("#alert-box").removeClass("alert-success");
                            $("#alert-box").removeClass("alert-danger");
                            $("#alert-box").removeClass("alert-info");
                            $("#alert-box").addClass("alert-danger");
                            $("#alert-box").html("<h4>Incorrect!</h4>");
                            $("#button-next").removeClass("hidden");
                            $("#button-next").addClass("btn-danger");
                            $("#button-ok").addClass("hidden");
                            $("input[type='radio']").attr("disabled", true);
                        }
                    } else {
                        alert(data.error);
                    }
                }
            });
        }
    </script>
}