@model TwolipsDating.ViewModels.QuizViewModel

@{
    ViewBag.Title = String.Format("{0} (quiz)", Model.QuizName);
    ViewBag.Description = Model.QuizDescription;
    ViewBag.ImageUrl = Model.ImageUrl;
}

@if (User.Identity.IsAuthenticated)
{
    <div class="modal fade" id="modalQuestionViolation" tabindex="-1" role="dialog" aria-labelledby="modalQuestionViolationLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalQuestionLabel">Flag a question</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.QuestionViolation.ViolationTypeId, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.QuestionViolation.ViolationTypeId,
                                 new SelectList(Model.QuestionViolation.ViolationTypes, "Key", "Value"),
                        new { @class = "form-control", data_placeholder = "What's the problem?" })
                    </div>
                    <input type="hidden" id="selected-question-id" />
                    <div id="violation-error" class="alert alert-danger hidden" role="alert">
                        <p id="violation-error-text">Something happened which prevented your violation from being submitted.</p>
                    </div>
                    <div id="violation-success" class="alert alert-success hidden" role="alert">
                        <p>Thanks for the report!</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="button-violation-close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="button-violation-submit" onclick="onAddQuestionViolation(event, this)" type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <div class="ad-banner-sm">
            <!-- Quiz - Top - 1 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1823005717277864"
                 data-ad-slot="9186755439"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    }
    else
    {
        <div style="width: 610px; margin: 5px auto;">
            <img src="http://placehold.it/600x90" />
        </div>
    }
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-pills quiz-categories">
                    <li role="presentation"><a href="@Url.Action("index", "trivia")"><i class="fa fa-rocket fa-lg fa-fw"></i> <span class="hidden-xs">Featured</span></a></li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-sitemap fa-lg fa-fw"></i> <span class="hidden-xs">Categories</span> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var category in Model.QuizCategories)
                            {
                                <li role="presentation">
                                    <a href="@Url.Action("category", "trivia", new { id = category.QuizCategoryId })">
                                        <i class="fa @category.QuizIcon fa-lg fa-fw"></i>
                                        @category.QuizName
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li role="presentation"><a href="@Url.Action("top", "trivia")"><i class="fa fa-star fa-lg fa-fw"></i> <span class="hidden-xs">Top Players</span></a></li>
                    <li class="dropdown" role="presentation">
                        <a href="#" aria-controls="dropdowncontents" data-toggle="dropdown">
                            <i class="fa fa-question-circle fa-lg"></i> <span class="hidden-xs">Questions</span> <span class="caret"></span>
                        </a>
                        <ul id="dropdowncontents" class="dropdown-menu">
                            <li role="presentation">
                                <a href="@Url.Action("random", "trivia")">
                                    <i class="fa fa-random fa-lg fa-fw"></i> Random
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="@Url.Action("timed", "trivia")">
                                    <i class="fa fa-clock-o fa-lg fa-fw"></i> Timed
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body quiz-body">
                @if (Model.Questions != null && Model.Questions.Count > 0)
                {
                    <h3 style="margin-top: 0">@Model.QuizName</h3>
                    <div class="row" style="margin: 0 0 10px 0">
                        <div class="col-sm-8">
                            <h4 style="margin: 0">@Model.QuizDescription</h4>
                            @if (Model.Tags != null && Model.Tags.Count > 0)
                            {
                                <div class="tags" style="display: inline-block; margin-top: 5px">
                                    @foreach (var tag in Model.Tags)
                                    {
                                        <a href="@Url.Action("index", "search", new { tags = tag.Name })" class="custom-tooltip btn btn-default btn-xs" title="@tag.Description">
                                            @tag.Name
                                        </a>
                                    }
                                </div>
                            }
                            <div style="margin-bottom: 8px">
                                @Html.Partial("_QuizRatingBarPartial", Model.AverageQuestionPoints)
                                <div class="g-plusone" data-size="medium" data-annotation="none"></div>
                                <div class="fb-like" data-layout="button" data-action="like" data-show-faces="false"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <img src="@Model.ThumbnailImageUrl" class="img-responsive" />
                        </div>
                    </div>

                    if (User.Identity.IsAuthenticated)
                    {
                        if (Model.IsAlreadyCompleted)
                        {
                            <div class="well well-sm text-center" style="margin-top: 15px">
                                <h3 style="margin: 0;">You completed this quiz.</h3>
                                <div class="row" style="margin: 0">
                                    <div class="col-xs-4">
                                        <small class="text-muted">SCORE</small>
                                        <h4 style="margin-top: 5px"><strong>@Model.CorrectAnswerCount/@Model.Questions.Count (@String.Format("{0}%", Model.UserScorePercent))</strong></h4>
                                    </div>
                                    <div class="col-xs-4">
                                        <small class="text-muted">POINTS EARNED</small>
                                        <h4 style="margin-top: 5px"><strong>@Model.PointsEarned/@Model.PointsPossible</strong></h4>
                                    </div>
                                    <div class="col-xs-4">
                                        <small class="text-muted">SHARE SCORE</small>
                                        <br />
                                        <a id="share-score-fb" class="btn btn-facebook btn-xs"
                                           data-share-href="@Url.Action("quiz", "trivia", new { id = Model.QuizId }, Request.Url.Scheme)"
                                           data-share-description="@String.Format("I scored {0}% on this quiz. {2}", Model.UserScorePercent, Model.QuizName, Model.QuizDescription)">
                                            <i class="fa fa-facebook fa-lg fa-fw"></i>
                                        </a>
                                        <a class="btn btn-twitter btn-xs" href="@("https://twitter.com/intent/tweet?text=" + Url.Encode(String.Format("I scored {0}% on the {1} quiz on @twolipsdating", Model.UserScorePercent, Model.QuizName)) + "&url=" + Url.Action("quiz", "trivia", new { id = Model.QuizId }, Request.Url.Scheme))">
                                            <i class=" fa fa-twitter fa-lg fa-fw"></i>
                                        </a>
                                    </div>
                                </div>
                                <h5 class="text-muted" style="margin: 0">
                                    @if (Model.UserScorePercent >= 0 && Model.UserScorePercent < 25)
                                    {
                                        @:Wow, well the good news is that you can't get much worse.
                                    }
                                    else if (Model.UserScorePercent >= 25 && Model.UserScorePercent < 50)
                                    {
                                        @:We know you can do better than that.
                                    }
                                    else if (Model.UserScorePercent >= 50 && Model.UserScorePercent < 75)
                                    {
                                        @:OK, not great, but at least you're pretty smart.
                                    }
                                    else if (Model.UserScorePercent >= 75 && Model.UserScorePercent < 100)
                                    {
                                        @:Nice! You were definitely on point with this one.
                                    }
                                    else if (Model.UserScorePercent == 100)
                                    {
                                        @:Incredible, you managed to get every single answer correct.
                                    }
                                </h5>
                            </div>
                            if (Model.UsersWithSimilarScores != null && Model.UsersWithSimilarScores.Count > 0)
                            {
                                <div class="row" style="margin: 0">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><i class="fa fa-users"></i> Users with similar scores...</h4>
                                        </div>
                                        <div class="panel-body text-center similar-people">
                                            @foreach (var user in Model.UsersWithSimilarScores)
                                            {
                                                <div class="col-xs-6 col-sm-3">
                                                    <a href="@Url.Action("index", "profile", new{ id = user.ProfileId })">
                                                        @Html.Partial("_ProfileImagePartial", user.ProfileThumbnailImagePath)
                                                    </a>
                                                    <p style="margin-bottom: 0">
                                                        <a href="@Url.Action("index", "profile", new{ id = user.ProfileId })">
                                                            @user.UserName
                                                        </a>
                                                        <br />
                                                        <small style="color: #999">Score: @String.Format("{0}%", user.PercentScore)</small>
                                                    </p>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }

                    using (Html.BeginForm("quiz", "trivia", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        for (int i = 0; i < Model.Questions.Count; i++)
                        {
                            var question = Model.Questions[i];
                            if (User.Identity.IsAuthenticated)
                            {
                                <div class="row" style="margin: 0">
                                    <div class="col-xs-9 col-sm-10" style="padding-left: 0; padding-right: 0">
                                        @String.Format("{0}. {1}", i + 1, question.Content)
                                    </div>
                                    <div class="col-xs-3 col-sm-2" style="padding-left: 0; padding-right: 0">
                                        <a href="#" data-toggle="modal" data-target="#modalQuestionViolation" data-question-id="@question.QuestionId" class="btn btn-default btn-xs pull-right">
                                            <i class="glyphicon glyphicon-flag"></i> Report
                                        </a>
                                    </div>
                                </div>
                                @Html.ValidationMessage(String.Format("Questions[{0}].SelectedAnswerId", i))
                            }
                            else
                            {
                                @String.Format("{0}. {1}", i + 1, question.Content)
                                <div class="clearfix"></div>
                            }
                            @Html.Partial("_QuestionRatingBarPartial", question.Points)
                            <div style="margin-top: 5px;">
                                @foreach (var answer in question.Answers)
                                {
                                    string radioStyle = "radio-info";
                                    <div>
                                        @if (Model.Questions[i].IsAlreadyAnswered)
                                        {
                                            if (answer.IsCorrect)
                                            {
                                                radioStyle = "radio-success";
                                                <span class="text-success"><i class="fa fa-check fa-lg fa-fw"></i></span>
                                            }
                                            else
                                            {
                                                radioStyle = "radio-danger";
                                                <span class="text-danger"><i class="fa fa-remove fa-lg fa-fw"></i></span>
                                            }
                                        }
                                        <div class="radio @radioStyle" style="display: inline-block">
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                if (Model.Questions[i].IsAlreadyAnswered)
                                                {
                                                    @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswerId, answer.AnswerId, new { id = answer.AnswerId, disabled = "disabled" })
                                                }
                                                else
                                                {
                                                    @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswerId, answer.AnswerId, new { id = answer.AnswerId })
                                                }
                                            }
                                            else
                                            {
                                                @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswerId, answer.AnswerId, new { id = answer.AnswerId, onclick = "$('#modalSignUpIncentive').modal('show')" })
                                            }
                                            <label for="@answer.AnswerId">@answer.Content</label>
                                        </div>
                                    </div>
                                }
                                @Html.HiddenFor(m => Model.Questions[i].QuestionId)
                            </div>
                            <hr />
                        }

                        if (User.Identity.IsAuthenticated)
                        {
                            if (!Model.IsAlreadyCompleted)
                            {
                                <button id="button-submit" type="submit" class="btn btn-primary">
                                    <i class="fa fa-check fa-lg fa-fw"></i> Complete Quiz
                                </button>
                            }
                        }
                        else
                        {
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalSignUpIncentive" data-keyboard="true">
                                <i class="fa fa-check fa-lg fa-fw"></i> Complete Quiz
                            </a>
                        }
                        @Html.HiddenFor(m => m.QuizId)
                        @Html.HiddenFor(m => m.SEOName)
                    }
                }
                else
                {
                    <h4>Something went wrong, and the quiz can't be loaded.</h4>
                }
            </div>
        </div>
        @if (Model.SimilarQuizzes != null && Model.SimilarQuizzes.Count > 0)
        {
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-star fa-lg fa-fw"></i> You might also like...
                    </h4>
                </div>
                <div class="panel-body">
                    @foreach (var quiz in Model.SimilarQuizzes)
                    {
                        <div class="col-xs-6 col-sm-3">
                            <a href="@Url.Action("quiz", "trivia", new { id = quiz.Id })">
                                <img src="@quiz.ThumbnailImagePath" width="128" height="64" />
                            </a>
                            <br />
                            <a href="@Url.Action("quiz", "trivia", new { id = quiz.Id })">@quiz.Name</a>
                        </div>
                    }
                </div>
            </div>
        }
        @Html.Partial("_SignUpIncentivePartial")
    </div>

    <div class="col-md-4">
        @if (Model != null)
        {
            @Html.Partial("_SidebarOthersCompletedQuizPartial", Model.UsersCompletedQuiz)
        }
        @if (!HttpContext.Current.IsDebuggingEnabled)
        {
            <div class="ad">
                <!-- Quiz - Sidebar - 1 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-1823005717277864"
                     data-ad-slot="7710022230"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        }
        else
        {
            <div style="width: 610px; margin: 5px auto;">
                <img src="http://placehold.it/300x300" />
            </div>
        }
    </div>
</div>
@section Scripts {
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '742385919135029',
                xfbml: true,
                version: 'v2.4'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    @Scripts.Render("~/bundles/trivia/quiz")

    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    }
}
@section Styles {
    @Styles.Render("~/Content/awesome-bootstrap-checkbox")
}
@section Modals {
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="modal" id="modalSignUpIncentive" tabindex="-1" role="dialog" aria-labelledby="modalSignUpIncentiveLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalSignUpIncentiveLabel">Sign up now to complete this quiz</h4>
                    </div>
                    <div class="modal-body text-center">
                        @Html.Partial("_ModalSignUpIncentivePartial")
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modalSignUpIncentiveFollow" tabindex="-1" role="dialog" aria-labelledby="modalSignUpIncentiveFollowLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalSignUpIncentiveFollowLabel">Sign up now to follow this person</h4>
                    </div>
                    <div class="modal-body text-center">
                        @Html.Partial("_ModalSignUpIncentivePartial")
                    </div>
                </div>
            </div>
        </div>
    }
}