@model TwolipsDating.ViewModels.QuizViewModel

@{
    ViewBag.Title = Model.QuizName;
    ViewBag.Description = Model.QuizDescription;
    ViewBag.ImageUrl = Model.ImageUrl;
}

@if (User.Identity.IsAuthenticated)
{
    <div class="modal fade" id="modalQuestionViolation" tabindex="-1" role="dialog" aria-labelledby="modalQuestionViolationLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalQuestionLabel">Flag a question</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.QuestionViolation.ViolationTypeId, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.QuestionViolation.ViolationTypeId,
                                 new SelectList(Model.QuestionViolation.ViolationTypes, "Key", "Value"),
                        new { @class = "form-control", data_placeholder = "What's the problem?" })
                    </div>
                    <input type="hidden" id="selected-question-id" />
                    <div id="violation-error" class="alert alert-danger" role="alert">
                        <p id="violation-error-text">Something happened which prevented your violation from being submitted.</p>
                    </div>
                    <div id="violation-success" class="alert alert-success" role="alert">
                        <p>Thanks for the report! You won't see this question again until we review it.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="button-violation-close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="button-violation-submit" onclick="onAddQuestionViolation(event, this)" type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <div class="ad">
            <!-- Quiz - Top - 1 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1823005717277864"
                 data-ad-slot="9186755439"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    }
    else
    {
        <div style="width: 610px; margin: 5px auto;">
            <img src="http://placehold.it/600x90" />
        </div>
    }
    <div class="col-md-8">
        <div style="margin-bottom: 5px">
            <div class="col-sm-4">
                <a href="@("https://twitter.com/intent/tweet?text=" + Url.Encode(Model.QuizDescription + " #trivia") + "&url=" + Url.Action("quiz", "trivia", new { id = Model.QuizId }, Request.Url.Scheme))"
                   style="width: 100%;" class="btn btn-twitter" title="Share on Twitter">
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse-twitter"></i>
                    </span>
                    Share on Twitter
                </a>
            </div>
            <div class="col-sm-4">
                <a href="@("https://www.facebook.com/sharer/sharer.php?u=" + Url.Action("quiz", "trivia", new { id = Model.QuizId }, Request.Url.Scheme))"
                   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
                   style="width: 100%;" class="btn btn-facebook" title="Share on Facebook">
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse-facebook"></i>
                    </span>
                    Share on Facebook
                </a>
            </div>
            <div class="col-sm-4">
                <a href="@("https://plus.google.com/share?url=" + Url.Action("quiz", "trivia", new { id = Model.QuizId }, Request.Url.Scheme))"
                   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
                   style="width: 100%;" class="btn btn-google-plus" title="Share on Google+">
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-google-plus fa-stack-1x fa-inverse-google-plus"></i>
                    </span>
                    Share on Google+
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body quiz-body">
                @if (Model.Questions != null && Model.Questions.Count > 0)
                {
                    <h3 style="margin-top: 0">@Model.QuizName</h3>
                    <h4 style="margin-top: 0">@Model.QuizDescription</h4>
                    if (Model.Tags != null && Model.Tags.Count > 0)
                    {
                        <i class="glyphicon glyphicon-tags"></i>
                        @:&nbsp;
                        <div class="tags" style="display: inline-block">
                            @foreach (var tag in Model.Tags)
                            {
                                <a href="@Url.Action("index", "search", new { tags = tag.Name })" class="custom-tooltip btn btn-default btn-xs" title="@tag.Description">
                                    @tag.Name
                                </a>
                            }
                        </div>
                    }

                    if (!Model.IsAlreadyCompleted)
                    {
                        <br />
                        <i class="fa fa-money"></i>
                        @:&nbsp;
                        @Html.Partial("_QuizRatingBarPartial", Model.AveragePoints)
                    }

                    using (Html.BeginForm("quiz", "trivia", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        if (User.Identity.IsAuthenticated)
                        {
                            if (Model.IsAlreadyCompleted)
                            {
                                <div id="alert-box" class="alert alert-success">
                                    <h5>You scored <strong>@String.Format("{0}%", Model.UserScorePercent)</strong>. View your answers below.</h5>
                                </div>
                            }
                            else
                            {
                                <hr />
                            }
                        }
                        else
                        {
                            <div id="alert-box" class="alert alert-info">
                                <h5>You can complete this quiz by <a href="@Url.Action("login", "account")" class="alert-link">logging in</a>.</h5>
                            </div>
                        }

                        for (int i = 0; i < Model.Questions.Count; i++)
                        {
                            var question = Model.Questions[i];
                            if (User.Identity.IsAuthenticated)
                            {
                                <div class="row" style="margin: 0">
                                    <div class="col-xs-9 col-sm-10" style="padding-left: 0; padding-right: 0">
                                        @String.Format("{0}. {1}", i + 1, question.Content)
                                    </div>
                                    <div class="col-xs-3 col-sm-2" style="padding-left: 0; padding-right: 0">
                                        <a href="#" data-toggle="modal" data-target="#modalQuestionViolation" data-question-id="@question.QuestionId" class="btn btn-default btn-xs pull-right">
                                            <i class="glyphicon glyphicon-flag"></i> Report
                                        </a>
                                    </div>
                                </div>
                                @Html.ValidationMessage(String.Format("Questions[{0}].SelectedAnswerId", i))
                            }
                            else
                            {
                                @String.Format("{0}. {1}", i + 1, question.Content)
                                <div class="clearfix"></div>
                            }
                            <div style="margin-top: 5px;">
                                @foreach (var answer in question.Answers)
                                {
                                    string radioStyle = "radio-info";
                                    <div>
                                        @if (Model.Questions[i].IsAlreadyAnswered)
                                        {
                                            if (answer.IsCorrect)
                                            {
                                                radioStyle = "radio-success";
                                                <span class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
                                            }
                                            else
                                            {
                                                radioStyle = "radio-danger";
                                                <span class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
                                            }
                                        }
                                        <div class="radio @radioStyle" style="display: inline-block">
                                            @if (Model.Questions[i].IsAlreadyAnswered || !User.Identity.IsAuthenticated)
                                            {
                                                @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswerId, answer.AnswerId, new { id = answer.AnswerId, disabled = "disabled" })
                                            }
                                            else
                                            {
                                                @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswerId, answer.AnswerId, new { id = answer.AnswerId })
                                            }
                                            <label for="@answer.AnswerId">@answer.Content</label>
                                        </div>
                                    </div>
                                }
                                @Html.HiddenFor(m => Model.Questions[i].QuestionId)
                            </div>
                            <hr />
                        }

                        if (!Model.IsAlreadyCompleted && User.Identity.IsAuthenticated)
                        {
                            <button id="button-submit" type="submit" class="btn btn-sm btn-primary">Complete Quiz</button>
                        }
                        else if (!User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action("login", "account")" class="btn btn-primary">Log in to complete this quiz</a>
                        }
                        @Html.HiddenFor(m => m.QuizId)
                        @Html.HiddenFor(m => m.SEOName)
                    }
                }
                else
                {
                    <h4>Something went wrong, and the quiz can't be loaded.</h4>
                }
            </div>
        </div>
    </div>

    <div class="col-md-4">
        @if (Model != null)
        {
            @Html.Partial("_SidebarOthersCompletedQuizPartial", Model.UsersCompletedQuiz)
        }
        @*
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-money"></i> Bonus points
                        <small>
                            <i title="Completing this quiz with a high score will award bonus points"
                               class="custom-tooltip glyphicon glyphicon-info-sign"></i>
                        </small>
                    </h4>
                </div>
                @if (Model != null)
                {
                    <div class="panel-body">
                        @Html.Partial("_QuizRatingBarPartial", Model.AveragePoints)
                    </div>
                }
            </div>*@
        @if (!HttpContext.Current.IsDebuggingEnabled)
        {
            <div class="ad">
                <!-- Quiz - Sidebar - 1 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-1823005717277864"
                     data-ad-slot="7710022230"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        }
        else
        {
            <div style="width: 610px; margin: 5px auto;">
                <img src="http://placehold.it/600x90" />
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/trivia/quiz")

    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    }
}
@section Styles {
    @Styles.Render("~/Content/awesome-bootstrap-checkbox")
}