@model TwolipsDating.ViewModels.QuestionViewModel

@{
    ViewBag.Title = "Random question";
    ViewBag.Description = Model != null && Model.Content != null ? Model.Content : "An error occurred while loading the question";
}

@Html.Partial("_ModalQuestionViolationPartial", Model)

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-pills quiz-categories">
                    <li role="presentation"><a href="@Url.Action("index", "trivia")"><i class="fa fa-rocket fa-lg fa-fw"></i> <span class="hidden-xs">Featured</span></a></li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-sitemap fa-lg fa-fw"></i> <span class="hidden-xs">Categories</span> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var category in Model.QuizCategories)
                            {
                                <li role="presentation">
                                    <a href="@Url.Action("category", "trivia", new { id = category.QuizCategoryId })">
                                        <i class="fa @category.QuizIcon fa-lg fa-fw"></i>
                                        @category.QuizName
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li role="presentation"><a href="@Url.Action("top", "trivia")"><i class="fa fa-star fa-lg fa-fw"></i> <span class="hidden-xs">Top Players</span></a></li>
                    <li class="dropdown active" role="presentation">
                        <a href="#" aria-controls="dropdowncontents" data-toggle="dropdown">
                            <i class="fa fa-question-circle fa-lg"></i> <span class="hidden-xs">Questions</span> <span class="caret"></span>
                        </a>
                        <ul id="dropdowncontents" class="dropdown-menu">
                            <li role="presentation" class="active">
                                <a href="@Url.Action("random", "trivia")">
                                    <i class="fa fa-random fa-lg fa-fw"></i> Random
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="@Url.Action("timed", "trivia")">
                                    <i class="fa fa-clock-o fa-lg fa-fw"></i> Timed
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        @*<div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-4">
                        <a href="@("https://twitter.com/intent/tweet?text=" + Url.Encode(String.Format("{0} {1}", Model.Content, "#trivia")) + "&url=" + Url.Action("index", "trivia", null, Request.Url.Scheme))"
                           style="width: 100%;" class="btn btn-info" title="Share on Twitter">
                            <img src="~/Content/tw-icon-16.png" /> Share on Twitter
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="@("https://www.facebook.com/dialog/share?app_id=742385919135029&display=popup&href=" + Url.Action("index", "trivia", null, Request.Url.Scheme) + "&redirect_uri=" + Url.Action("index", "trivia", null, Request.Url.Scheme))"
                           onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
                           style="width: 100%;" class="btn btn-primary" title="Share on Facebook">
                            <img src="~/Content/fb-icon-16.png" /> Share on Facebook
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="@("https://plus.google.com/share?url=" + Url.Action("index", "trivia", null, Request.Url.Scheme))"
                           onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
                           style="width: 100%;" class="btn btn-danger" title="Share on Google+">
                            <img src="~/Content/gp-icon-16.png" /> Share on Google+
                        </a>
                    </div>
                </div>
            </div>*@
        <div class="panel panel-default">
            @Html.Partial("_QuestionAndAnswerPartial", Model)
        </div>
        @Html.Partial("_SignUpIncentivePartial")
        @if (!HttpContext.Current.IsDebuggingEnabled)
        {
            <div class="ad">
                <!-- Random Question - Footer - 1 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-1823005717277864"
                     data-ad-slot="2343303036"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        }
        else
        {
            <div style="width: 610px; margin: 5px auto;">
                <img src="http://placehold.it/600x90" />
            </div>
        }
    </div>
    <div class="col-md-4">
        @if (Model.UsersAnsweredCorrectly != null)
        {
            @Html.Partial("_SidebarOthersAnsweredCorrectlyPartial", Model.UsersAnsweredCorrectly)
        }
        @if (!HttpContext.Current.IsDebuggingEnabled)
        {
            <div class="ad">
                <!-- Random Question - Sidebar - 1 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-1823005717277864"
                     data-ad-slot="4195139430"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        }
        else
        {
            <div style="width: 210px; margin: 5px auto;">
                <img src="http://placehold.it/200x200" />
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/trivia/random")

    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    }
}
@section Modals {
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="modal" id="modalSignUpIncentive" tabindex="-1" role="dialog" aria-labelledby="modalSignUpIncentiveLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalSignUpIncentiveLabel">Sign up now to answer this question</h4>
                    </div>
                    <div class="modal-body text-center">
                        @Html.Partial("_ModalSignUpIncentivePartial")
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modalSignUpIncentiveFollow" tabindex="-1" role="dialog" aria-labelledby="modalSignUpIncentiveFollowLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalSignUpIncentiveFollowLabel">Sign up now to follow this person</h4>
                    </div>
                    <div class="modal-body text-center">
                        @Html.Partial("_ModalSignUpIncentivePartial")
                    </div>
                </div>
            </div>
        </div>
    }
}
