@model TwolipsDating.ViewModels.QuestionViewModel

@{
    ViewBag.Title = "twolips - answering a timed question";
    ViewBag.Description = Model != null && Model.Content != null ? Model.Content : "An error occurred while loading the question";
    ViewBag.ImageUrl = Url.Content("~/Content/twolipsicon-white-180x180.png");
}

@Html.Partial("_ModalQuestionViolationPartial", Model)

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Create your own questions
                </h4>
            </div>
            <div class="panel-body">
                <a href="mailto:info@twolipsdating.com">Contact us</a> to suggest some new questions. You might see yours here soon!
            </div>
        </div>
        @if (Model.Tags != null)
        {
            @Html.Partial("_SidebarTagsForQuestion", Model.Tags)
        }
        <div class="ad">
            <!-- Timed Question - Sidebar - 1 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1823005717277864"
                 data-ad-slot="5671872638"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        @if (Model.UsersAnsweredCorrectly != null)
        {
            @Html.Partial("_SidebarOthersAnsweredCorrectlyPartial", Model.UsersAnsweredCorrectly)
        }
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="alert-box" class="alert alert-info">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <h5>Select an answer and then press OK. You have <span id="timer-label">10</span> seconds remaining.</h5>
                    }
                    else
                    {
                        <h5>You can answer this question by <a href="@Url.Action("login", "account")" class="alert-link">logging in</a>.</h5>
                    }
                </div>
                @Html.Partial("_QuestionAndAnswerPartial", Model)
            </div>
        </div>
        <!-- Timed Question - Footer - 1 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1823005717277864"
             data-ad-slot="3680435431"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>

<div id="share-question-popover" class="hide">
    <div class="share-buttons custom-popover-content">
        <a href="@("https://www.facebook.com/dialog/share?app_id=742385919135029&display=popup&href=" + Url.Action("index", "trivia", null, Request.Url.Scheme) + "&redirect_uri=" + Url.Action("index", "trivia", null, Request.Url.Scheme))"
           onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
            <img src="~/Content/fb_16.png" alt="Share on Facebook" />
        </a>
        <a href="@("https://twitter.com/intent/tweet?text=" + Url.Encode(String.Format("{0} {1}", Model.Content, "#trivia")) + "&url=" + Url.Action("index", "trivia", null, Request.Url.Scheme))">
            <img src="~/Content/bird_blue_16.png" alt="Tweet" />
        </a>
        <a href="@("https://plus.google.com/share?url=" + Url.Action("index", "trivia", null, Request.Url.Scheme))"
           onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
            <img src="~/Content/gplus-16.png" alt="Share on Google+" />
        </a>
    </div>
</div>

@section Scripts {
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="@Url.Content("~/Scripts/Trivia/timed.js")" type="text/javascript"></script>
}