@model TwolipsDating.ViewModels.QuestionViewModel

@{
    ViewBag.Title = "twolips - timed trivia";
}

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_DropDownMenuPartial", new TwolipsDating.ViewModels.DropDownMenuViewModel() { ActiveMenuText = TwolipsDating.ViewModels.ActiveMenuText.Trivia })
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                @if (Model != null)
                {
                    <div id="alert-box" class="alert alert-info">
                        <h4>Select an answer and then press OK. You have <span id="timer-label">10</span> seconds remaining.</h4>
                    </div>
                    <p>@Model.Content</p>
                    foreach (var answer in @Model.Answers)
                    {
                        <div class="radio">
                            <label>
                                @Html.RadioButtonFor(m => m.SelectedAnswerId, answer.AnswerId)
                                @answer.Content
                            </label>
                        </div>
                    }
                    <input id="button-ok" type="button" class="btn btn-primary btn-sm" value="OK" onclick="onSubmitAnswer(event, this)" />
                    @Html.ActionLink("Next", "timed", null, new { id = "button-next", @class = "btn btn-sm hidden" })
                    @Html.HiddenFor(m => m.QuestionId)
                }
                else
                {
                    <h4>You're a machine. You've answered every question we have.</h4>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/Scripts/Trivia/timed.js")" type="text/javascript"></script>
}