@model TwolipsDating.ViewModels.TriviaTopPlayersViewModel
@using TwolipsDating.Utilities;

@{
    ViewBag.Title = "Top performing people";
    ViewBag.Description = "twolips dating is a community focused on providing people with the ability to meet likeminded friends and colleagues through a variety of activities and challenges.";
}
@if (HttpContext.Current.AreAdsEnabled())
{
    if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <div class="ad">
            <!-- Top Players - Top - 1 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1823005717277864"
                 data-ad-slot="6016402231"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    }
    else
    {
        <div style="width: 610px; margin: 5px auto;">
            <img src="http://placehold.it/600x90" />
        </div>
    }
}
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-pills quiz-categories">
                    <li role="presentation"><a href="@Url.Action("index", "trivia", new { id = (int?)null })"><i class="fa fa-rocket fa-lg fa-fw"></i> <span class="hidden-xs">Featured</span></a></li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-sitemap fa-lg fa-fw"></i> <span class="hidden-xs">Categories</span> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var category in Model.QuizCategories)
                            {
                                <li role="presentation">
                                    <a href="@Url.Action("category", "trivia", new { id = category.QuizCategoryId, seoName = category.QuizSEOName })">
                                        <i class="fa @category.QuizIcon fa-lg fa-fw"></i>
                                        @category.QuizCategoryName
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li role="presentation" class="active"><a href="@Url.Action("top", "trivia")"><i class="fa fa-star fa-lg fa-fw"></i> <span class="hidden-xs">Top Players</span></a></li>
                    <li class="dropdown" role="presentation">
                        <a href="#" aria-controls="dropdowncontents" data-toggle="dropdown">
                            <i class="fa fa-question-circle fa-lg"></i> <span class="hidden-xs">Questions</span> <span class="caret"></span>
                        </a>
                        <ul id="dropdowncontents" class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("random", "trivia")">
                                    <i class="fa fa-random fa-lg fa-fw"></i> Random
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("timed", "trivia")">
                                    <i class="fa fa-clock-o fa-lg fa-fw"></i> Timed
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Partial("_SignUpIncentivePartial")
                <h3><i class="fa fa-star fa-lg fa-fw"></i> Top Performing Players</h3>
                <hr />
                @foreach (var player in Model.Players)
                {
                    <div class="col-xs-6 col-sm-3 col-md-4" style="margin-bottom: 15px; min-height: 100px;">
                        <div class="top-player">
                            <div style="margin-left: 70px;">
                                <a href="@Url.Action("index", "profile", new{id = player.ProfileId})">
                                    <img src="@player.ProfileThumbnailImagePath">
                                </a>
                                <span class="top-player-name">
                                    <a href="@Url.Action("index", "profile", new{id = player.ProfileId})">@player.UserName</a>
                                </span>
                                <span class="top-player-details">
                                    <i class="fa fa-user fa-fw"></i> @player.Age years
                                    <br />
                                    <i class="fa fa-map-marker fa-fw"></i> @player.Location
                                    <br />
                                    <i class="fa fa-money fa-fw"></i> @player.LifeTimePoints points
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        @Html.Partial("_SidebarTrendingNowPartial", Model.TrendingQuizzes)

        @if (HttpContext.Current.AreAdsEnabled())
        {
            <div class="col-sm-6 col-md-12">
                @if (!HttpContext.Current.IsDebuggingEnabled)
                {
                    <div class="ad">
                        <!-- Top Players - Right - 1 -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-1823005717277864"
                             data-ad-slot="8969868630"
                             data-ad-format="auto"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                }
                else
                {
                    <div class="text-center" style="margin: 5px auto;">
                        <img src="http://placehold.it/350x250" />
                    </div>
                }
            </div>
        }
        
        @Html.Partial("_SidebarRecentQuizActivityPartial", Model.RecentlyCompletedQuizzes)

        @Html.Partial("_SidebarMostPopularQuizzesPartial", Model.PopularQuizzes)

        @if (HttpContext.Current.AreAdsEnabled())
        {
            <div class="col-sm-6 col-md-12">
                @if (!HttpContext.Current.IsDebuggingEnabled)
                {
                    <div class="ad">
                        <!-- Top Players - Right - 2 -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-1823005717277864"
                             data-ad-slot="1446601833"
                             data-ad-format="auto"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                }
                else
                {
                    <div class="text-center" style="margin: 5px auto;">
                        <img src="http://placehold.it/350x250" />
                    </div>
                }
            </div>
        }
    </div>
</div>
@section Scripts {
    @if (HttpContext.Current.AreAdsEnabled() && !HttpContext.Current.IsDebuggingEnabled)
    {
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    }
}