@model TwolipsDating.ViewModels.ReviewWrittenFeedViewModel

@if (!String.IsNullOrEmpty(Model.AuthorProfileImagePath))
{
    <div class="circular-image-wrapper">
        <img class="circular-image" src="@Model.AuthorProfileImagePath" />
    </div>
}
<div class="feed-item-headline">
    <a href="@Url.Action("index", "profile", new { id = Model.AuthorProfileId })">@Model.AuthorUserName</a>
    writes about
    @if (Model.TargetUserName == User.Identity.Name)
    {
        @:you
    }
    else
    {
        <a href="@Url.Action("index", "profile", new { id = Model.TargetProfileId })">@Model.TargetUserName</a>
    }
    <br />
    <small>
        @Model.TimeAgo
    </small>
</div>
<span class="pull-right feed-item-buttons">
    <a href="#" id="@String.Format("share-profile-link-{0}", Model.ReviewId)" data-review-id="@Model.ReviewId" class="btn btn-primary btn-xs
       data-html=" true" data-toggle="popover" data-placement="bottom" data-title="Share" data-animation="false">
        <i class="glyphicon glyphicon-share-alt"></i> Share
    </a>
    @if (User.Identity.IsAuthenticated)
    {
        @:&nbsp;
        <a href="#" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modalReviewViolation" data-review-id="@Model.ReviewId"
           data-review-author="@Model.AuthorUserName" title="Flag for review">
            <i class="glyphicon glyphicon-flag"></i> Report
        </a>
    }
</span>
<div id="@String.Format("share-profile-buttons-popover-{0}", Model.ReviewId)" class="hide">
    <div class="share-buttons custom-popover-content text-center">
        <a href="@("https://www.facebook.com/dialog/share?app_id=742385919135029&display=popup&href=" + Url.Action("index", "profile", new { id = Model.TargetProfileId }, Request.Url.Scheme) + "&redirect_uri=" + Url.Action("index", "profile", new { id = Model.TargetProfileId }, Request.Url.Scheme))"
           onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
            <img src="~/Content/fb-icon-32.png" alt="Share on Facebook" />
        </a>
        <a href="@("https://twitter.com/intent/tweet?text=" + Url.Encode(String.Format("{0} just reviewed {1}", Model.AuthorUserName, Model.TargetUserName)) + "&url=" + Url.Action("index", "profile", new { id = Model.TargetProfileId }, Request.Url.Scheme))">
            <img src="~/Content/tw-icon-32.png" alt="Tweet" />
        </a>
        <a href="@("https://plus.google.com/share?url=" + Url.Action("index", "profile", new { id =  Model.TargetProfileId }, Request.Url.Scheme))"
           onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
            <img src="~/Content/gp-icon-32.png" alt="Share on Google+" />
        </a>
    </div>
</div>
<div class="clearfix"></div>
<div class="well well-sm wrap-long-lines feed-item-comment">
    <small>
        @Html.Partial("_StarRatingPartial", Model.ReviewRatingValue)
        <br />
        @Model.ReviewContent
    </small>
</div>