@model TwolipsDating.ViewModels.MessageFeedViewModel

@* user sending something *@
@if (Model.SenderUserName == User.Identity.Name)
{
    <p style="display: inline-block; vertical-align: top; margin-top: 4px;">
        You sent a message to
    </p>

    if (!String.IsNullOrEmpty(Model.ReceiverProfileImagePath))
    {
        <div class="circular-image-wrapper">
            <img class="circular-image" src="@Model.ReceiverProfileImagePath" />
        </div>
    }
    <p style="display: inline-block; vertical-align: top; margin-top: 4px;">
        <a href="@Url.Action("index", "profile", new { id = Model.ReceiverProfileId })">@Model.ReceiverUserName</a>
        <small> &bull;&nbsp;@Model.TimeAgo</small>
    </p>
    <div class="well well-sm">
        <small>@Model.MessageContent</small>
    </div>
}
    @* user receiving something *@
else
{

    if (!String.IsNullOrEmpty(Model.SenderProfileImagePath))
    {
        <div class="circular-image-wrapper">
            <img class="circular-image" src="@Model.SenderProfileImagePath" />
        </div>
    }
    <p style="display: inline-block; vertical-align: top; margin-top: 4px;">
        <a href="@Url.Action("index", "profile", new { id = Model.SenderProfileId })">@Model.SenderUserName</a> sent you a message
        <small> &bull;&nbsp;@Model.TimeAgo</small>
    </p>
    <div class="well well-sm">
        <small>@Model.MessageContent</small>
    </div>
}