@model TwolipsDating.ViewModels.GiftReceivedFeedViewModel

@if (!String.IsNullOrEmpty(Model.SenderProfileImagePath))
{
    <div class="circular-image-wrapper">
        <img class="circular-image" src="@Model.SenderProfileImagePath" />
    </div>
}
else
{
    <div class="circular-image-wrapper">
        <img class="circular-image" src="~/Content/Placeholder.png">
    </div>
}
<div class="feed-item-headline">
    <a href="@Url.Action("index", "profile", new { id = Model.SenderProfileId })">@Model.SenderUserName</a> sent a gift to
    @if (Model.ReceiverUserName == User.Identity.Name)
    {
        @:you
    }
    else
    {
        <a href="@Url.Action("index", "profile", new { id = Model.ReceiverProfileId })">@Model.ReceiverUserName</a>
    }
    <br />
    <small>@Model.TimeAgo</small>
</div>
<div class="clearfix"></div>
<img src="@Model.GiftImagePath" width="46" height="46">
<span class="label label-default">@Model.GiftSentCount</span>