@model TwolipsDating.ViewModels.UploadedImageFeedViewModel

@if (!String.IsNullOrEmpty(Model.UploaderProfileImagePath))
{
    <div class="circular-image-wrapper">
        <img class="circular-image" src="@Model.UploaderProfileImagePath" />
    </div>
}
<p style="display: inline-block; vertical-align: top; margin-bottom: 0; margin-top: 4px;">
    @{
        string text = String.Empty;
        if(Model.UploadedImagesPaths.Count > 1)
        {
            text = "uploaded some images";
        }
        else
        {
            text = "uploaded an image";
        }
        <a href="@Url.Action("index", "profile", new { id = Model.UploaderProfileId })">@Model.UploaderUserName</a> @text <small>&bull; @Model.TimeAgo</small>
    }
</p>
<div class="row">
    @foreach (var userImagePath in Model.UploadedImagesPaths)
    {
        <div class="col-xs-4 col-md-2">
            <a class="thumbnail" data-parent=".wrapper" data-toggle="lightbox" data-gallery="multiimages" href="@userImagePath" style="min-height: 100px; max-height: 100px;">
                <img src="@userImagePath" style="max-height: 90px;">
            </a>
        </div>
    }
</div>