@model TwolipsDating.ViewModels.AchievementFeedViewModel

<div class="circular-image-wrapper">
    <img class="circular-image" src="@Model.UserProfileImagePath" />
</div>
<div class="feed-item-headline">
    <a href="@Url.Action("index", "profile", new { id = Model.ProfileId })">@Model.UserName</a>
    achieved
    <strong>@Model.AchievementName</strong>
    <br />
    <small>@Model.TimeAgo</small>
</div>