@using TwolipsDating.Utilities

<!DOCTYPE html>
<html style="height: 100%">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@String.Format("{0} | twolips", @ViewBag.Title)</title>
    <link rel="canonical" href="@Request.Url.AbsoluteUri" />
    <link rel="shortcut icon" href="~/Content/twolipsico.ico" type="image/x-icon">
    <meta name="description" content="@ViewBag.Description" />
    <meta property="og:image" content="@(!String.IsNullOrEmpty(ViewBag.ImageUrl) ? Url.Content(ViewBag.ImageUrl) : Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/twolipsicon-white-200x200.png"))" />
    @{
        if (ViewBag.ImageWidth != null)
        {
            <meta property="og:image:width" content="@ViewBag.ImageWidth" />
        }
        if (ViewBag.ImageHeight != null)
        {
            <meta property="og:image:height" content="@ViewBag.ImageWidth" />
        }
    }
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:title" content="@String.Format("{0} | twolips", @ViewBag.Title)" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:site_name" content="twolips dating community" />
    <meta name="google-site-verification" content="4eyILTchd7WANbxkEX7K1ZVlHy6WgoXrerg26xS8XHM" />
    <meta name="msvalidate.01" content="105176AFED07C91A3091AF935701BF27" />
    <meta name="p:domain_verify" content="5c0be6da418d5ec3880d7b54266e0b6d" />
    <meta name="twitter:card" content="@(ViewBag.TwitterCardType != null ? ViewBag.TwitterCardType : (!String.IsNullOrEmpty(ViewBag.ImageUrl) ? "summary_large_image" : "summary"))">
    <meta name="twitter:site" content="&#64;twolipsdating">
    <meta name="twitter:title" content="@ViewBag.Title">
    <meta name="twitter:description" content="@ViewBag.Description">
    <meta name="twitter:image" content="@(!String.IsNullOrEmpty(ViewBag.ImageUrl) ? Url.Content(ViewBag.ImageUrl) : Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/twolipsicon-white-200x200.png"))">
    @Styles.Render("~/Content/bootstrap-yeti.min.css")
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/css")
</head>
<!-- Background pattern from subtlepatterns.com -->
<body class="body-splash">
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-K5MZD9"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K5MZD9');</script>
    <!-- End Google Tag Manager -->
    @RenderBody()
    <div class="footer-splash">
        @Html.Partial("_FooterPartial")
    </div>
    <script type="application/ld+json">
        {
        "@@context": "https://twolipsdating.com",
        "@@type": "Company",
        "url": "@Request.Url.AbsoluteUri",
        "logo": "https://www.twolipsdating.com/Content/twolipsicon-white-200x200.png",
        "sameAs" : [
        "https://www.facebook.com/twolipsdating",
        "https://twitter.com/twolipsdating/",
        "https://plus.google.com/+Twolipsdating/"
        ]
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    @*@if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <script src="@Url.Content("~/Scripts/analytics.js")" type="text/javascript"></script>
    }*@
    @RenderSection("scripts", required: false)
</body>
</html>
