@using TwolipsDating.Utilities

<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@String.Format("{0} | twolips", @ViewBag.Title)</title>
    <link rel="canonical" href="@Request.Url.AbsoluteUri" />
    <link rel="shortcut icon" href="~/Content/twolipsico.ico" type="image/x-icon">
    <meta name="description" content="@ViewBag.Description" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:title" content="@String.Format("{0} | twolips", @ViewBag.Title)" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:image" content="@(!String.IsNullOrEmpty(ViewBag.ImageUrl) ? Url.Content(ViewBag.ImageUrl) : Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/twolipsicon-white-200x200.png"))" />
    <meta property="og:site_name" content="twolips dating community" />
    <meta name="google-site-verification" content="4eyILTchd7WANbxkEX7K1ZVlHy6WgoXrerg26xS8XHM" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="&#64;twolipsdating">
    <meta name="twitter:title" content="@ViewBag.Title">
    <meta name="twitter:description" content="@ViewBag.Description">
    <meta name="twitter:image" content="@(!String.IsNullOrEmpty(ViewBag.ImageUrl) ? Url.Content(ViewBag.ImageUrl) : Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/twolipsicon-white-200x200.png"))">
    @Styles.Render("~/Content/bootstrap-yeti.min.css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="padding-top: 7px;" href="@Url.Action("index", "home")">
                    <img alt="twolips dating" src="~/Content/twolipsicon-white-180x180.png" width="32" height="32" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @*@@if (User.Identity.IsAuthenticated)
                    {
                        using (Html.BeginForm("index", "search", FormMethod.Get, new { @class = "navbar-form navbar-left", role = "search" }))
                        {
                            <div class="input-group">
                                @Html.TextBox("user", null, new { @id = "searchUserName", @class = "form-control", @placeholder = "Find someone..." })
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-default" style="line-height: 1.4"><i class="glyphicon glyphicon-search"></i></button>
                                </span>
                            </div>
                        }
                    }*@
                <ul id="navbar-main" class="nav navbar-nav visible-md visible-lg">
                    <li><a href="@Url.Action("index", "tags")"><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;Tags</a></li>
                    <li><a href="@Url.Action("index", "search", new { id = (int?)null })"><i class="glyphicon glyphicon-search"></i>&nbsp;&nbsp;Search</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-education"></i>&nbsp;&nbsp;Trivia <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("index", "trivia")"><i class="glyphicon glyphicon-dashboard"></i>&nbsp;&nbsp;Dashboard</a></li>
                            <li><a href="@Url.Action("random", "trivia")"><i class="glyphicon glyphicon-random"></i>&nbsp;&nbsp;Random</a></li>
                            <li><a href="@Url.Action("timed", "trivia")"><i class="glyphicon glyphicon-time"></i>&nbsp;&nbsp;Timed</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("index", "store")"><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;&nbsp;Store</a></li>
                </ul>
                <ul id="navbar-main" class="nav navbar-nav visible-xs visible-sm">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-search"></i>&nbsp;&nbsp;Explore <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("index", "tags")"><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;Tags</a></li>
                            <li><a href="@Url.Action("index", "search")"><i class="glyphicon glyphicon-search"></i>&nbsp;&nbsp;Search</a></li>
                            <li><a href="@Url.Action("conversation", "message")"><i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;Messages</a></li>
                            <li><a href="@Url.Action("index", "trivia")"><i class="glyphicon glyphicon-education"></i>&nbsp;&nbsp;Trivia</a></li>
                            <li><a href="@Url.Action("index", "store")"><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;&nbsp;Store</a></li>
                            <li><a href="@Url.Action("points", "account")"><i class="glyphicon glyphicon-piggy-bank"></i>&nbsp;&nbsp;Points</a></li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="@Url.Action("points", "account")" title="Points">
                                <i class="glyphicon glyphicon-piggy-bank"></i>&nbsp;&nbsp;<span id="span-points-count">@ViewBag.PointsCount</span>
                            </a>
                        </li>
                        <li style="background: @(ViewBag.MessageNotificationCount > 0 ? "#e55f00" : String.Empty)">
                            <a href="@Url.Action("conversation", "message")" title="Unread messages">
                                <i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;@ViewBag.MessageNotificationCount
                            </a>
                        </li>
                        <li style="background: @(ViewBag.GiftNotificationCount > 0 ? "#e55f00" : String.Empty)">
                            <a id="popover-gifts" href="#" title="Received Gifts" data-placement="bottom" data-container="body" data-animation="false">
                                <i class="glyphicon glyphicon-gift"></i>&nbsp;&nbsp;<span id="span-gift-notification-count">@ViewBag.GiftNotificationCount</span>&nbsp;<span class="caret"></span>
                            </a>
                            <input id="gift-notification-count" type="hidden" value="@ViewBag.GiftNotificationCount" />
                        </li>
                        <li style="background: @(ViewBag.AnnouncementNotificationCount > 0 ? "#e55f00" : String.Empty)">
                            <a id="popover-announcements" href="#" title="Announcements" data-toggle="popover" data-placement="bottom" data-container="body" data-animation="false">
                                <i class="glyphicon glyphicon-bullhorn"></i>&nbsp;&nbsp;@ViewBag.AnnouncementNotificationCount&nbsp;<span class="caret"></span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    @if (User.Identity.IsAuthenticated && ViewBag != null)
    {
        <div id="popover-gifts-content" class="hide">
            <div id="popover-gifts-container" class="custom-popover-content popover-scroll">
                @if (ViewBag.GiftsReceived != null && ViewBag.GiftsReceived.Count > 0)
                {
                    <p class="pull-left"><a href="@Url.Action("index", "profile", new{ tab = "inventory" })">View inventory</a></p>
                    <p class="pull-right">
                        <a href="#" class="remove-all-gift-notifications">Remove all</a>
                    </p>
                    <div class="clearfix"></div>
                    for (int i = 0; i < ViewBag.GiftsReceived.Count; i++)
                    {
                        var gift = ViewBag.GiftsReceived[i];
                        <div id="@String.Format("gift-notification-{0}", gift.GiftTransactionId)">
                            @if (!String.IsNullOrEmpty(gift.SenderProfileImagePath))
                            {
                                <div class="circular-image-wrapper">
                                    <img class="circular-image" src="@gift.SenderProfileImagePath" />
                                </div>
                            }
                            <p style="display: inline-block; vertical-align: top; margin-bottom: 0; margin-top: 5px; max-width: 90px" class="overflow-ellipsis">
                                <a href="@Url.Action("index", "profile", new { id = gift.SenderProfileId })">@gift.SenderUserName</a>
                            </p>
                            <div class="circular-image-wrapper">
                                <img class="circular-image" src="@gift.GiftImagePath" />
                            </div>
                            <p style="display: inline-block; vertical-align: top; margin-bottom: 0; margin-top: 5px;">
                                <span class="label label-default">@gift.GiftAmount</span>
                            </p>
                            <p style="margin-top: 7px;" class="pull-right">
                                <a href="#" data-transaction-id="@gift.GiftTransactionId" title="Remove notification" class="remove-gift-notification">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </p>
                            <div class="clearfix"></div>
                            <small>@gift.DateTransaction</small>
                            @if (i < ViewBag.GiftsReceived.Count - 1)
                            {
                                <hr />
                            }
                        </div>
                    }
                }
                else
                {
                    <p>Nothing to see here.</p>
                }
            </div>
        </div>
        <div id="popover-announcements-content" class="hide">
            <div id="popover-announcements-container" class="custom-popover-content">
                @if (ViewBag.Announcements != null && ViewBag.Announcements.Count > 0)
                {
                    for (int i = 0; i < ViewBag.Announcements.Count; i++)
                    {
                        var announcement = ViewBag.Announcements[i];
                        if (i == 0)
                        {
                            <p><i class="glyphicon glyphicon-info-sign"></i> @announcement.Content</p>
                        }
                        else
                        {
                            <p><i class="glyphicon glyphicon-info-sign"></i> @announcement.Content</p>
                        }
                    }
                }
                else
                {
                    <p>Nothing to see here!</p>
                }
            </div>
        </div>
    }
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="footer-bottom-social text-center">
            <div style="margin: 0 auto; width: 135px;">
                <a href="http://facebook.com/twolipsdating">
                    <img src="~/Content/fb-icon-32.png" alt="Like on Facebook" />
                </a>
                <a href="http://twitter.com/twolipsdating">
                    <img src="~/Content/tw-icon-32.png" alt="Follow on Twitter" />
                </a>
                <a href="http://plus.google.com/+twolipsdating">
                    <img src="~/Content/gp-icon-32.png" alt="Follow on Google+" />
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="footer-bottom">
            <div class="container">
                <h5 style="display: inline-block">
                    &copy; @DateTime.Now.Year
                </h5>
                <h4 style="display: inline-block">
                    <a href="@Url.Action("index", "home")"><img src="~/Content/twolipsicon-white-180x180.png" width="32" height="32" /></a> twolips dating <small>@Html.CurrentVersion()</small>
                </h4>
                <div style="margin-top: 10px" class="pull-right">
                    @Html.ActionLink("About", "index", "about")
                    <p style="display: inline-block;">&bull;</p>
                    <a href="mailto:info@twolipsdating.com">Contact</a>
                    <p style="display: inline-block;">&bull;</p>
                    @Html.ActionLink("Privacy policy", "privacy", "about")
                    <p style="display: inline-block;">&bull;</p>
                    @Html.ActionLink("Terms of service", "terms", "about")
                </div>
            </div>
        </div>
    </footer>
    <script type="application/ld+json">
        {
        "@@context": "https://twolipsdating.com",
        "@@type": "Company",
        "url": "@Request.Url.AbsoluteUri",
        "logo": "https://www.twolipsdating.com/Content/twolipsicon-white-200x200.png",
        "sameAs" : [
        "https://www.facebook.com/twolipsdating",
        "https://twitter.com/twolipsdating/",
        "https://plus.google.com/+Twolipsdating/"
        ]
        }
    </script>
    <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/raty")
    @Scripts.Render("~/bundles/lightbox")
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/analytics.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Shared/layout.js")" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
