@using TwolipsDating.Utilities

<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="canonical" href="@Request.Url.AbsoluteUri" />
    <!--[if IE]><link rel="shortcut icon" href="~/Content/twolipsico.ico"><![endif]-->
    <link rel="icon" href="~/Content/twolipsico.ico">
    <meta name="description" content="@ViewBag.Description" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:image" content="@ViewBag.ImageUrl" />
    <meta property="og:site_name" content="Twolips Dating Community" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="padding-top: 7px; padding-right: 3px;" href="@Url.Action("index", "home")">
                    <img alt="twolips dating" src="~/Content/twolipsicon-white.png" width="32" height="32" />
                </a>
                @Html.ActionLink("twolips dating", "index", "home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right">
                    @*
                        <li>
                            <a href="#" title="Announcements">
                                <i class="glyphicon glyphicon-bullhorn"></i>&nbsp;&nbsp;@ViewBag.UnreadAnnouncementCount
                            </a>
                        </li>
                    *@

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="@Url.Action("received", "message")" title="Messages">
                                <i class="glyphicon glyphicon-inbox"></i>&nbsp;&nbsp;@ViewBag.UnreadMessageCount
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Notifications">
                                <i class="glyphicon glyphicon-bell"></i>&nbsp;&nbsp;@ViewBag.UnreadNotificationCount&nbsp;<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@Url.Action("received", "message")"><i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;@ViewBag.UnreadMessageCount unread messages</a></li>
                                @*
                                    <li><a href="#"><i class="glyphicon glyphicon-gift"></i>&nbsp;&nbsp;@ViewBag.GiftCount gifts received</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-briefcase"></i>&nbsp;&nbsp;@ViewBag.ItemCount new items</a></li>
                                *@
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer">
        @*
                <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>
                                <a href="@Url.Action("index", "home")"><img src="~/Content/twolipsicon-white.png" width="32" height="32" /></a>  twolips dating
                            </h4>
                            <p>Dating shouldn't be a hassle. In fact, it should be fun. Interact with others around here to prove it.</p>
                            <p>Get started today for free!</p>
                            <p>Email: <a href="mailto:info@twolipsdating.com">info@twolipsdating.com</a></p>
                        </div>
                        <div class="col-md-3">
                            <h5>About Us</h5>
                            <hr />
                            <ul class="list-unstyled">
                                <li>
                                    @Html.ActionLink("Who we are", "index", "about")
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </li>
                                <li>
                                    @Html.ActionLink("FAQ", "faq", "help")
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </li>
                                <li>
                                    <a href="mailto:info@twolipsdating.com">Contact Us</a>
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h5>Our Policies</h5>
                            <hr />
                            <ul class="list-unstyled">
                                <li>
                                    @Html.ActionLink("Privacy policy", "privacy", "about")
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </li>
                                <li>
                                    @Html.ActionLink("Terms of service", "terms", "about")
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </li>
                                <li>
                                    @Html.ActionLink("Content guidelines", "content", "help")
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h5>Useful Links</h5>
                            <hr />
                            <ul class="list-unstyled">
                                <li>
                                    @Html.ActionLink("Dating tips", "tips", "dating")
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </li>
                                <li>
                                    @Html.ActionLink("Meet people", "meet", "dating")
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </li>
                                <li>
                                    @Html.ActionLink("Grow your network", "network", "dating")
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </li>
                                <li>
                                    @Html.ActionLink("Writing a good review", "advice", "help")
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        *@
        <div class="footer-bottom">
            <div class="container">
                <h5 style="display: inline-block">
                    &copy; @DateTime.Now.Year
                </h5>
                <h4 style="display: inline-block">
                    <a href="@Url.Action("index", "home")"><img src="~/Content/twolipsicon-white.png" width="32" height="32" /></a> twolips dating <small>@Html.CurrentVersion()</small>
                </h4>
                <div style="margin-top: 10px;" class="pull-right">
                    @Html.ActionLink("About", "index", "about")
                    <p style="display: inline-block;">&bull;</p>
                    @Html.ActionLink("FAQ", "faq", "help")
                    <p style="display: inline-block;">&bull;</p>
                    <a href="mailto:info@twolipsdating.com">Contact</a>
                    <p style="display: inline-block;">&bull;</p>
                    @Html.ActionLink("Privacy policy", "privacy", "about")
                    <p style="display: inline-block;">&bull;</p>
                    @Html.ActionLink("Terms of service", "terms", "about")
                    <p style="display: inline-block;">&bull;</p>
                    @Html.ActionLink("Content guidelines", "content", "help")
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/raty")
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-55633694-1', 'auto');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var dropdownMain = $("#dropdown-main");
            if (dropdownMain != null) {
                dropdownMain.hover(function () {
                    dropdownMain.toggleClass("open");
                });
            }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
