@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="@Url.Action("profile", "account", new { id = User.Identity.GetUserId() })" title="View your community profile">
                    <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;@User.Identity.GetUserName()
                </a>
            </li>
            <li>
                <a href="@Url.Action("index", "manage")" title="Manage your account settings">
                    <i class="glyphicon glyphicon-cog"></i>
                </a>
            </li>
            <li>
                <a href="#" title="Sign out" onclick="document.getElementById('logoutForm').submit()">
                    <i class="glyphicon glyphicon-log-out"></i>
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("register", "account")" id="registerLink" class="navbar-btn" title="You know you want to">
                <i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Sign up
            </a>
        </li>
        <li>
            <a href="@Url.Action("login", "account")" id="loginLink" class="navbar-btn" title="Your friends are waiting for you">
                <i class="glyphicon glyphicon-log-in"></i>&nbsp;&nbsp;Log in
            </a>
        </li>
    </ul>
}
