@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;@User.Identity.GetUserName()<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        @Html.ActionLink("View your profile", "index", "profile", new { id = (int?)null }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Manage your settings", "index", "manage")
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" title="Sign out" onclick="document.getElementById('logoutForm').submit()">
                            Sign out
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("register", "account")" id="registerLink" title="You know you want to">
                <i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;Sign up
            </a>
        </li>
        <li>
            <a href="@Url.Action("login", "account")" id="loginLink" title="Your friends are waiting for you">
                <i class="glyphicon glyphicon-log-in"></i>&nbsp;&nbsp;Log in
            </a>
        </li>
    </ul>
}
