@model IReadOnlyCollection<TwolipsDating.ViewModels.PersonYouMightAlsoLikeViewModel>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">
            <i class="fa fa-users"></i> You might also like...
        </h4>
    </div>
    <ul class="list-group">
        @foreach (var userProfile in Model)
        {
            <li id="@String.Format("user-to-follow-{0}", userProfile.ProfileId)" class="list-group-item user-to-follow">
                <div style="margin-left: 55px;">
                    <a href="@Url.Action("index", "profile", new{ id = userProfile.ProfileId })">
                        <img src="@userProfile.ProfileThumbnailImagePath">
                    </a>
                    <span class="user-to-follow-name">
                        @userProfile.UserName
                    </span>
                    <span class="user-to-follow-details">
                        <i class="fa fa-user fa-fw"></i> @userProfile.Age years old
                        <br />
                        @if (!String.IsNullOrEmpty(userProfile.Location))
                        {
                            <i class="fa fa-map-marker fa-fw"></i> @userProfile.Location
                        }
                    </span>
                </div>
                <button class="btn btn-default btn-sm custom-tooltip followify user-to-follow-button"
                        data-profile-id="@userProfile.ProfileId" data-user-id="@userProfile.ProfileUserId">
                    <i class="fa fa-user-plus fa-lg fa-fw"></i>
                    <span>Follow</span>
                </button>
            </li>
        }
    </ul>
    <div class="panel-footer text-center">
        <a href="@Url.Action("index", "search")"><small>Find more people</small></a>
    </div>
</div>