@if (!User.Identity.IsAuthenticated)
{
    <div class="panel panel-warning text-center">
        <div class="panel-heading">
            Experience all of Twolips with a free account
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Url.Action("index", "trivia") }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="col-sm-4">
                    @Html.Partial("_SocialLoginButtonPartial", "Facebook")
                    @Html.Partial("_SocialLoginButtonPartial", "Google")
                    @Html.Partial("_SocialLoginButtonPartial", "Twitter")
                    @Html.Partial("_SocialLoginButtonPartial", "Email")
                </div>
                <div class="col-sm-8">
                    <h4>Create a dating profile, meet new friends, message others about trivia challenges, save all your trivia scores, track your quizzes, and much more.</h4>
                </div>
                <div class="clearfix"></div>
            }
        </div>
    </div>
}
