@model DashboardViewModel
@using TwolipsDating.ViewModels
@using TwolipsDating.Utilities;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Your personal dashboard";
    ViewBag.Description = "Twolips dating is a community focused on providing people with the ability to meet likeminded friends and colleagues through a variety of activities and challenges.";
}
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalReviewViolation" tabindex="-1" role="dialog" aria-labelledby="modalReviewViolationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalReviewLabel">Submit violation for review</h4>
            </div>
            <div class="modal-body">
                <div id="violation-review-body">
                    <div class="form-group">
                        <label for="review-author-name" class="control-label">Review Author:</label>
                        <p id="review-author-name"></p>
                        <input type="hidden" id="review-id" />
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.WriteReviewViolation.ViolationTypeId, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.WriteReviewViolation.ViolationTypeId,
                        new SelectList(Model.WriteReviewViolation.ViolationTypes, "Key", "Value"),
                        new { @class = "form-control", data_placeholder = "What's the problem?" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.WriteReviewViolation.ViolationContent, new { @class = "control-label" })
                        @Html.TextAreaFor(m => m.WriteReviewViolation.ViolationContent, new { @class = "form-control" })
                    </div>
                    @Html.HiddenFor(m => m.CurrentUserId)
                </div>
                <div id="violation-error" class="alert alert-danger" role="alert">
                    <p id="violation-error-text">Something happened which prevented your violation from being submitted.</p>
                </div>
                <div id="violation-success" class="alert alert-success" role="alert">
                    <p>Thanks for the report! You can close this popup now.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button id="button-violation-close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="button-violation-submit" onclick="onAddReviewViolation(event, this)" type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

@if (HttpContext.Current.AreAdsEnabled())
{
    if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <div class="ad-banner-sm">
            <!-- Dashboard - Top - 1 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1823005717277864"
                 data-ad-slot="6266655036"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    }
    else
    {
        <div style="width: 610px; margin: 5px auto;">
            <img src="http://placehold.it/600x90" />
        </div>
    }
}
<div class="row">
    @if (Model.IsCurrentUserEmailConfirmed)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                @if (Model.RandomQuestion != null)
                {
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-bullseye fa-lg fa-fw"></i> Improve your matches</h4>
                    </div>
                    <div class="panel-body">
                        <h5 style="margin-top: 0;" id="random-question-content">@Model.RandomQuestion.Content</h5>
                        @Html.Partial("_QuestionRatingBarPartial", Model.RandomQuestion.Points)
                    </div>
                    <div class="list-group">
                        <div id="answers">
                            @foreach (var answer in Model.RandomQuestion.Answers)
                            {
                                <a href="#" id="@String.Format("answer-{0}", answer.AnswerId)" class="answer-link list-group-item" data-answer-id="@answer.AnswerId">
                                    @answer.Content
                                    <span id="@String.Format("icon-correct-{0}", answer.AnswerId)" class="icon-correct pull-right hidden"><i class="fa fa-check"></i></span>
                                    <span id="@String.Format("icon-incorrect-{0}", answer.AnswerId)" class="icon-incorrect pull-right hidden"><i class="fa fa-remove"></i></span>
                                </a>
                            }
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="result-alert" class="alert alert-success hidden"></div>
                        <button id="button-skip" type="button" class="btn btn-default btn-sm" title="Skip this question">Skip <i class="fa fa-chevron-right"></i></button>
                        <button id="button-next" type="button" class="btn btn-primary btn-sm hidden" onclick="onNextQuestion(event, this)" title="Get next question"><i class="fa fa-random"></i> Next</button>
                        @Html.HiddenFor(m => m.RandomQuestion.QuestionId)
                        <input id="question-points-value" type="hidden" value="@Model.RandomQuestion.Points" />
                        <div id="trivia-panel-no-questions" class="hidden">
                            <p>You've answered all the random questions for now. <a href="@Url.Action("index", "trivia")">Want more?</a></p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="panel-body">
                        <p style="margin: 0;">You've answered all the random questions for now. <a href="@Url.Action("index", "trivia")">Want more?</a></p>
                    </div>
                }
                <div class="panel-footer">
                    <div class="text-center">
                        <a href="@Url.Action("random", "trivia")"><small>See more questions</small></a>
                    </div>
                </div>
            </div>
            @if (Model.UsersToFollow != null && Model.UsersToFollow.Count > 0)
            {
                @Html.Partial("_SidebarYouMightAlsoLikePeoplePartial", Model.UsersToFollow)
            }
            @if (HttpContext.Current.AreAdsEnabled())
            {
                if (!HttpContext.Current.IsDebuggingEnabled)
                {
                    <div class="ad">
                        <!-- Dashboard - Sidebar - 1 -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-1823005717277864"
                             data-ad-slot="8267337038"
                             data-ad-format="auto"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                }
                else
                {
                    <div style="width: 350px; margin: 5px auto;">
                        <img src="http://placehold.it/350x250" />
                    </div>
                }
            }
        </div>
        <div class="col-md-8">
            @if (Model.Items.Count > 0)
            {
                for (int i = 0; i < Model.Items.Count; i++)
                {
                    var feedItem = Model.Items[i];

                    <div class="panel panel-default">
                        <div class="panel-body">
                            @if (feedItem.ItemType == TwolipsDating.ViewModels.DashboardFeedItemType.Message)
                            {
                                Html.RenderPartial("_FeedItemMessagesPartial", feedItem.MessageFeedItem);
                            }
                            else if (feedItem.ItemType == TwolipsDating.ViewModels.DashboardFeedItemType.UploadedPictures)
                            {
                                Html.RenderPartial("_FeedItemUploadedPicturesPartial", feedItem.UploadedImageFeedItem);
                            }
                            else if (feedItem.ItemType == TwolipsDating.ViewModels.DashboardFeedItemType.ReviewWritten)
                            {
                                Html.RenderPartial("_FeedItemReviewWrittenPartial", feedItem.ReviewWrittenFeedItem);
                            }
                            else if (feedItem.ItemType == TwolipsDating.ViewModels.DashboardFeedItemType.GiftTransaction)
                            {
                                Html.RenderPartial("_FeedItemGiftTransactionPartial", feedItem.GiftReceivedFeedItem);
                            }
                            else if (feedItem.ItemType == TwolipsDating.ViewModels.DashboardFeedItemType.QuizCompletion)
                            {
                                Html.RenderPartial("_FeedItemCompletedQuizPartial", feedItem.CompletedQuizFeedItem);
                            }
                            else if (feedItem.ItemType == TwolipsDating.ViewModels.DashboardFeedItemType.TagSuggestion)
                            {
                                Html.RenderPartial("_FeedItemTagSuggestionPartial", feedItem.TagSuggestionReceivedFeedItem);
                            }
                            else if (feedItem.ItemType == TwolipsDating.ViewModels.DashboardFeedItemType.AchievementObtained)
                            {
                                Html.RenderPartial("_FeedItemAchievementPartial", feedItem.AchievementFeedItem);
                            }
                            else if (feedItem.ItemType == TwolipsDating.ViewModels.DashboardFeedItemType.NewFollower)
                            {
                                Html.RenderPartial("_FeedItemNewFollowerPartial", feedItem.FollowerFeedItem);
                            }
                        </div>
                    </div>
                }

                if (Model.Items.PageCount > 1)
                {
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @Html.PagedListPager(Model.Items, page => Url.Action("Index", new { page }))
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>You will start seeing updates here when you send and receive messages or follow user profiles.</h4>
                    </div>
                </div>
            }
            @*
                <p>
                    <a href="#">jskiles1</a> completed the challenge <a href="#" class="label label-primary">Bring Out Your Dead</a>
                    <br />
                    <small>3 minutes ago</small>
                </p>
                <p>
                    <a href="#">jskiles1</a> defeated <a href="#">joanne123</a> in a game of <a href="#" class="label label-primary">Chicken</a>
                    <br />
                    <small>5 hours ago</small>
                </p>
                <p>
                    <a href="#">jskiles1</a> made an announcement: <strong>all I do is win!</strong>
                    <br />
                    <small>7 hours ago</small>
                </p>
            *@
        </div>
    }
    else
    {
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Before you can view your dashboard, you must confirm your email address.</h4>
                </div>
            </div>
        </div>
    }
</div>
@if (HttpContext.Current.AreAdsEnabled())
{
    if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <div class="ad-banner-sm">
            <!-- Dashboard - Sidebar - 1 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1823005717277864"
                 data-ad-slot="9881746234"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    }
    else
    {
        <div style="width: 610px; margin: 5px auto;">
            <img src="http://placehold.it/600x90" />
        </div>
    }
}

@section Scripts {
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    @Scripts.Render("~/bundles/home/dashboard")

    @if (HttpContext.Current.AreAdsEnabled() && !HttpContext.Current.IsDebuggingEnabled)
    {
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    }
}
@section Styles {
    @Styles.Render("~/Content/bootstrap-image-gallery")
}