@model TwolipsDating.ViewModels.HomeViewModel

@{
    ViewBag.Title = "twolips - free online dating entertainment";
}

<div class="jumbotron">
    <div class="row" style="background-color: #fff; border-radius: 10px; padding: 15px;">
        <div class="col-md-6">
            <div class="text-center">
                <h1>twolips dating</h1>
                <img src="~/Content/twolipsicon-white.png" width="125" height="125" />
                <h2>It's time to make dating fun.</h2>
                <p>Find someone for who they are instead of what they are. Meet people through a variety of activities rather than relying only on matching and messaging.</p>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = "" }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="text-center">
                    <p>Sign up quickly</p>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <button style="width: 100%;" type="submit" class="btn btn-default" id="Twitter" name="provider" value="Twitter" title="Log in using your Twitter account">
                                <img src="~/Content/bird_blue_16.png" />&nbsp;&nbsp;Twitter
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button style="width: 100%;" type="submit" class="btn btn-default" id="Facebook" name="provider" value="Facebook" title="Log in using your Facebook account">
                                <img src="~/Content/fb_16.png" />&nbsp;&nbsp;Facebook
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button style="width: 100%;" type="submit" class="btn btn-default" id="Google" name="provider" value="Google" title="Log in using your Google account">
                                <img src="~/Content/gplus-16.png" />&nbsp;&nbsp;Google
                            </button>
                        </div>
                    </div>
                </div>
            }
            <div class="text-center">
                <p>Or create an account</p>
            </div>
            @using (Html.BeginForm("register", "account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Choose a username" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter a password" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Re-enter the password" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Your email address" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">
                        Sign up for twolips dating
                    </button>
                </div>
                <small>By clicking "Sign up for Twolips Dating", you are agreeing to the @Html.ActionLink("Terms of Service", "terms", "about") and @Html.ActionLink("Privacy Policy", "privacy", "about").</small>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <div class="marketing-panel">
                    <span class="marketing-icon"><i class="glyphicon glyphicon-book"></i></span>
                </div>
                <h3>Maintain your profile</h3>
                <p>
                    Your profile lets others know who you are, what others have said about you, what prizes you've earned, and a lot more. Use this space to attract likeminded friends.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <div class="marketing-panel">
                    <span class="marketing-icon"><i class="glyphicon glyphicon-log-in"></i></span>
                </div>
                <h3>Get in free</h3>
                <p>
                    Tired of having to pay just to communicate with people? Sick of being nagged to purchase the privilege just to respond? You've come to the right place.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <div class="marketing-panel">
                    <span class="marketing-icon"><i class="glyphicon glyphicon-comment"></i></span>
                </div>
                <h3>Review each other</h3>
                <p>
                    Engage other users by requesting a review of your profile or take the first step by offering a review of a potential date. Earn points, gifts, and badges!
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <div class="marketing-panel">
                    <span class="marketing-icon"><i class="glyphicon glyphicon-tags"></i></span>
                </div>
                <h3>Tag your friends</h3>
                <h4><span class="label label-success">New</span></h4>
                <p>
                    Tag your own profile and offer tag suggestions to other user profiles to help with matching by interests. Earn special tags through challenges and engagements.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <div class="marketing-panel">
                    <span class="marketing-icon"><i class="glyphicon glyphicon-bookmark"></i></span>
                </div>
                <h3>Collect badges</h3>
                <h4><span class="label label-success">New</span></h4>
                <p>
                    Participating in certain activities with other users can earn you badges to decorate your profile. Trade badges with others to win over your friends!
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-body text-center">
                <div class="marketing-panel">
                    <span class="marketing-icon"><i class="glyphicon glyphicon-stats"></i></span>
                </div>
                <h3>Show off your stats</h3>
                <h4><span class="label label-warning">Coming Soon</span></h4>
                <p>
                    Your community accomplishments can easily be displayed, searched, and shown off in many different ways. Share your achievements with the rest of the community.
                </p>
            </div>
        </div>
    </div>
</div>