@model TwolipsDating.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Free Dating, Games, and Trivia";
    ViewBag.Description = "Twolips is a community focused on providing people with the ability to meet likeminded friends and colleagues through a variety of activities and challenges.";
}
<header class="full-screen-bg" style="background: url('@Model.BackgroundImage') no-repeat scroll center center / cover;">
    <div class="full-screen-bg-tint">
        <div class="navbar navbar-inverse transparent" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("index", "home")">
                        <img alt="twolips dating" src="~/Content/twolipsicon-white-32x32.png" />
                    </a>
                </div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <div class="jumbotron landing">
            <div class="container">
                <div class="row">
                    <div class="text-center">
                        <img src="~/Content/SloganOnlyWhite.png" alt="Twolips Dating" />
                        <h2>Find people perfect for you. <br /> Share the fun. <br /> Learn something new.</h2>
                    </div>
                    <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
                        @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = "" }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group text-center">
                                <div style="margin-bottom: 5px;">
                                    <button type="submit" class="btn btn-twitter btn-block" id="Twitter" name="provider" value="Twitter" title="Sign up with Twitter">
                                        <i class="fa fa-twitter fa-lg fa-fw"></i>
                                        Sign up with Twitter
                                    </button>
                                </div>
                                <div style="margin-bottom: 5px;">
                                    <button type="submit" class="btn btn-facebook btn-block" id="Facebook" name="provider" value="Facebook" title="Sign up with Facebook">
                                        <i class="fa fa-facebook fa-lg fa-fw"></i>
                                        Sign up with Facebook
                                    </button>
                                </div>
                                <button type="submit" class="btn btn-google-plus btn-block" id="Google" name="provider" value="Google" title="Sign up with Google+">
                                    <i class="fa fa-google-plus fa-lg fa-fw"></i>
                                    Sign up with Google+
                                </button>
                                <small>We don't post to your profiles</small>
                            </div>
                        }
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4">
                        @using (Html.BeginForm("register", "account", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group" style="margin-bottom: 5px;">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-lg fa-envelope fa-fw"></i></div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 5px;">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-lg fa-lock fa-fw"></i></div>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 5px;">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-lg fa-user fa-fw"></i></div>
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 5px;">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-lg fa-certificate fa-fw"></i></div>
                                    @Html.TextBoxFor(m => m.ReferralCode, new { @class = "form-control", @placeholder = "(optional referral code)" })
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block">
                                    Sign up for twolips dating
                                </button>
                                <div class="text-center">
                                    <small>You are agreeing to the @Html.ActionLink("Terms of Service", "terms", "about") and @Html.ActionLink("Privacy Policy", "privacy", "about").</small>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-sm-3 col-sm-offset-2 text-center">
                        <h4><a href="@Url.Action("index", "trivia")"><i class="fa fa-users"></i> Browse People</a></h4>
                    </div>
                    <div class="col-sm-2 text-center">
                        <h4><a href="@Url.Action("index", "trivia")"><i class="fa fa-mortar-board"></i> See Trivia</a></h4>
                    </div>
                    <div class="col-sm-3 text-center">
                        <h4><a href="@Url.Action("index", "trivia")"><i class="fa fa-heart"></i> Try QuickMatch</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container" style="padding-top: 75px; padding-bottom: 75px;">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-6">
                        <img src="~/Content/ProfileRotated.jpg" class="img-responsive center-block" />
                    </div>
                    <div class="col-sm-6">
                        <h3 class="text-danger"><i class="fa fa-user-plus fa-lg fa-fw"></i> CREATE A PROFILE</h3>
                        <h4 style="line-height: 26px">
                            Show off your best pictures, earned and suggested tags, any reviews that people have written about you, and any items or achievements that you have obtained.
                        </h4>
                        <h4 style="line-height: 26px">
                            You get your profile started, and we'll take it from there. Everything you do contributes to building up your profile reputation and increases your match accuracy.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-6">
                        <h3 class="text-danger"><i class="fa fa-comments fa-lg fa-fw"></i> TALK TO PEOPLE</h3>
                        <h4 style="line-height: 26px">
                            We make it easy for you to find someone ready to talk about common interests.
                        </h4>
                        <h4 style="line-height: 26px">
                            Twolips has a unique matching system which relies on your answers to trivia,
                            reviews written about you, and tags that you earn.
                        </h4>
                    </div>
                    <div class="col-sm-6">
                        <img src="~/Content/People.jpg" class="img-responsive center-block" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-4">
                        <img src="~/Content/CellPhoneImage1.png" class="img-responsive center-block" />
                    </div>
                    <div class="col-sm-8">
                        <h3 class="text-danger"><i class="fa fa-question-circle fa-lg fa-fw"></i> ANSWER TRIVIA</h3>
                        <h4 style="line-height: 26px">
                            Trivia challenges can enhance your profile by showing off tags, items, and achievements that you earn.
                        </h4>
                        <h4 style="line-height: 26px">
                            Answer trivia questions to be found based on your intellect, your athleticism, or even your fashion-sense!
                        </h4>
                        <h4 style="line-height: 26px">
                            Our matching engine relies on your answers to trivia in addition to other actions that you take. Participating in these challenges will increase your match accuracy.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-5">
                        <h3 class="text-danger"><i class="fa fa-tags fa-lg fa-fw"></i> EARN TAGS AND ITEMS</h3>
                        <h4 style="line-height: 26px">
                            Each trivia question, quiz, or challenge awards different amounts of points based on difficulty.
                        </h4>
                        <h4 style="line-height: 26px">
                            Build up a collection of points to earn profile tags or spend
                            your points on unique titles and items to trade with other people.
                        </h4>
                    </div>
                    <div class="col-sm-7">
                        <img src="~/Content/HowPointsWork.jpg" class="img-responsive center-block" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>