@model TwolipsDating.ViewModels.SearchResultViewModel

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginRouteForm("SearchByUser", FormMethod.Get, new { role = "search" }))
                {
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.User, null, new { @id = "searchUserName", @class = "form-control", @placeholder = "Search for someone by name" })
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="ad">
    <!-- Search - Header - 1 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1823005717277864"
         data-ad-slot="9119376635"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
@if (Model.SearchResults != null && Model.SearchResults.Count > 0)
{
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 style="margin-top: 0">@Model.SearchResults.Count results</h2>
                    <div class="search-result">
                        <hr />
                        @{ int k = 0; }
                        @foreach (var profile in Model.SearchResults)
                        {
                            <div class="circular-image-wrapper">
                                <img class="circular-image" src="@profile.ProfileImagePath" />
                            </div>
                            <div class="profile-info-wrapper">
                                <span class="name-and-location">
                                    <a href="@Url.Action("index", "profile", new { id = profile.ProfileId })">@profile.UserName</a>
                                    &bull;
                                    @if (!String.IsNullOrEmpty(profile.Location))
                                    {
                                        <span>@String.Format("{0}, {1}, {2}", profile.Age, profile.Gender, profile.Location)</span>
                                    }
                                    else
                                    {
                                        <span>@String.Format("{0}, {1}", profile.Age, profile.Gender)</span>
                                    }
                                </span>
                                <br />
                                <span class="rating">
                                    @for (int i = 1; i <= profile.AverageRatingValue; i++)
                                    {
                                        <i class="glyphicon glyphicon-star"></i>
                                    }
                                    @for (int j = 1; j <= 5 - profile.AverageRatingValue; j++)
                                    {
                                        <i class="glyphicon glyphicon-star-empty"></i>
                                    }
                                    @profile.ReviewCount reviews
                                </span>
                            </div>
                            if (profile.SuggestedTags.Count > 0)
                            {
                                <div class="tags">
                                    @foreach (var tag in profile.SuggestedTags)
                                    {
                                        <a href="@Url.Action("index", "search", new { tags = tag.TagName })" class="btn btn-default btn-xs" title="@String.Format("Search for all profiles tagged with '{0}'", tag.TagName)">
                                            <span class="badge">@tag.TagCount</span> @tag.TagName
                                        </a>
                                    }
                                </div>
                            }
                            if (k < Model.SearchResults.Count - 1)
                            {
                                <hr />
                            }
                            k++;
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Improve your search position
                    </h4>
                </div>
                <div class="panel-body">
                    <p><i class="glyphicon glyphicon-chevron-right"></i> <a href="@Url.Action("index", "trivia")">Answer trivia</a> questions to gain currency and fame.</p>
                    <p><i class="glyphicon glyphicon-chevron-right"></i> <a href="@Url.Action("index", "store")">Purchase items</a> for your inventory to display on your profile.</p>
                    <p><i class="glyphicon glyphicon-chevron-right"></i> Receive and encourage positive reviews from other users.</p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Trouble finding something?
                    </h4>
                </div>
                <div class="panel-body">
                    <p><i class="glyphicon glyphicon-chevron-right"></i> Try filtering based on tags that interest you.</p>
                    <p><i class="glyphicon glyphicon-chevron-right"></i> <a href="mailto:info@twolipsdating.com">Send us feedback</a> on how to improve searches.</p>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
}