@model TwolipsDating.ViewModels.SearchResultViewModel

@{
    ViewBag.Title = "twolips - search for profiles";
    ViewBag.Description = "twolips dating is a community focused on providing people with the ability to meet likeminded friends and colleagues through a variety of activities and challenges.";
    ViewBag.ImageUrl = Url.Content("~/Content/twolipsicon-white-180x180.png");
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-4" style="padding-left: 0">
                    @Html.Partial("_DropDownMenuPartial", new TwolipsDating.ViewModels.DropDownMenuViewModel() { ActiveMenuText = TwolipsDating.ViewModels.ActiveMenuText.Search })
                </div>
                <div class="col-md-4">
                        @if (Model.SearchResults != null && Model.SearchResults.Count > 0)
                        {
                            if (!String.IsNullOrEmpty(Model.User))
                            {
                                <h4><strong>@String.Format("{0} result(s) for '{1}'", Model.SearchResults.Count, Model.User)</strong></h4>
                            }
                            else
                            {
                                <h4><strong>@String.Format("{0} result(s) for '{1}'", Model.SearchResults.Count, Model.Tag)</strong></h4>
                            }
                        }
                </div>
                <div class="col-md-4" style="padding-right: 0">
                    @using (Html.BeginForm("index", "search", FormMethod.Get, new { role = "search" }))
                    {
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.User, null, new { @id = "searchUserName", @class = "form-control", @placeholder = "Search for someone by name..." })
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.SearchResults != null && Model.SearchResults.Count > 0)
{
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <ul class="list-group">
                    @foreach (var profile in Model.SearchResults)
                    {
                        <li class="list-group-item">
                            @if (!String.IsNullOrEmpty(profile.ProfileImagePath))
                            {
                                <div class="circular-image-wrapper">
                                    <img class="circular-image" src="@profile.ProfileImagePath" />
                                </div>
                            }
                            else
                            {
                                <div class="circular-image-wrapper">
                                    <img class="circular-image" src="http://placehold.it/32x32" />
                                </div>
                            }
                            <p style="display: inline-block; vertical-align: top; margin-bottom: 0; margin-top: 4px; font-size: 15px">
                                <a href="@Url.Action("index", "profile", new { id = profile.ProfileId })">@profile.UserName</a>
                                <small>&nbsp;&bull;&nbsp;</small>
                                @String.Format("{0}, {1}, {2}", profile.Age, profile.Gender, profile.Location)
                                <small>
                                    &nbsp;&bull;&nbsp;
                                    @for (int i = 1; i <= profile.AverageRatingValue; i++)
                                    {
                                        <i class="glyphicon glyphicon-star"></i>
                                    }
                                    @for (int j = 1; j <= 5 - profile.AverageRatingValue; j++)
                                    {
                                        <i class="glyphicon glyphicon-star-empty"></i>
                                    }
                                </small>
                                <span class="label label-default">@profile.ReviewCount reviews</span>
                            </p>
                            <div class="clearfix"></div>
                            @if (profile.SuggestedTags.Count > 0)
                            {
                                <div class="tags" style="margin-top: 3px;">
                                    <i class="glyphicon glyphicon-tags"></i>
                                    &nbsp;
                                    @foreach (var tag in profile.SuggestedTags)
                                    {
                                        <a href="@Url.Action("index", "search", new { tag = tag.TagName })" class="btn btn-default btn-xs" title="@String.Format("Search for all profiles tagged with '{0}'", tag.TagName)">
                                            <span class="badge">@tag.TagCount</span> @tag.TagName
                                        </a>
                                    }
                                </div>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Improve your search position
                    </h4>
                </div>
                <div class="panel-body">
                    <p><i class="glyphicon glyphicon-chevron-right"></i> <a href="@Url.Action("index", "trivia")">Answer trivia</a> questions to gain currency and fame.</p>
                    <p><i class="glyphicon glyphicon-chevron-right"></i> <a href="@Url.Action("index", "store")">Purchase items</a> for your inventory to display on your profile.</p>
                    <p><i class="glyphicon glyphicon-chevron-right"></i> Receive and encourage positive reviews from other users.</p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Trouble finding something?
                    </h4>
                </div>
                <div class="panel-body">
                    <p><i class="glyphicon glyphicon-chevron-right"></i> Try filtering based on tags that interest you.</p>
                    <p><i class="glyphicon glyphicon-chevron-right"></i> <a href="mailto:info@twolipsdating.com">Send us feedback</a> on how to improve searches.</p>
                </div>
            </div>
        </div>
    </div>
}