@model IReadOnlyCollection<TwolipsDating.ViewModels.QuizSearchResultViewModel>

@{
    ViewBag.Title = "twolips - search for quizzes";
    ViewBag.Description = "twolips dating is a community focused on providing people with the ability to meet likeminded friends and colleagues through a variety of activities and challenges.";
    ViewBag.ImageUrl = Url.Content("~/Content/twolipsicon-white-180x180.png");
}

@if (Model != null && Model.Count > 0)
{
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    @foreach (var quiz in Model)
                    {
                        <div class="search-result">
                            @if (quiz.AveragePoints > 0)
                            {
                                @Html.Partial("_QuizRatingBarPartial", quiz.AveragePoints)
                            }
                            else
                            {
                                <span class="label label-warning">No bonus</span>
                            }
                            <span style="vertical-align: middle; margin-left: 5px">
                                <a href="@Url.Action("quiz", "trivia", new { id = quiz.QuizId })">
                                    @quiz.QuizName
                                </a>
                                &nbsp;
                                <small>@quiz.QuestionCount questions</small>
                            </span>
                            <p style="color: #888"><small>@quiz.QuizDescription</small></p>
                            <hr />
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Trouble finding something?
                    </h4>
                </div>
                <div class="panel-body">
                    <p><i class="glyphicon glyphicon-chevron-right"></i> Try filtering based on tags that interest you.</p>
                    <p><i class="glyphicon glyphicon-chevron-right"></i> <a href="mailto:info@twolipsdating.com">Send us feedback</a> on how to improve searches.</p>
                </div>
            </div>
        </div>
    </div>
}
