@model TwolipsDating.ViewModels.ConversationViewModel
@using TwolipsDating.ViewModels

@{
    ViewBag.Title = "twolips - your messages";
}

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_DropDownMenuPartial", new TwolipsDating.ViewModels.DropDownMenuViewModel() { ActiveMenuText = ActiveMenuText.Message })
        <div class="pull-right">
            <ul class="nav nav-pills">
                <li role="presentation" class="active">
                    <a href="@Url.Action("conversation", new { id = (int?)null })" title="Your conversations"><i class="glyphicon glyphicon-comment"></i>&nbsp;Conversations</a>
                </li>
                <li role="presentation">
                    <a href="@Url.Action("received")" title="Your received messages"><i class="glyphicon glyphicon-download"></i>&nbsp;Received</a>
                </li>
                <li role="presentation">
                    <a href="@Url.Action("sent")" title="Your sent messages"><i class="glyphicon glyphicon-upload"></i>&nbsp;Sent</a>
                </li>
            </ul>
        </div>
    </div>
</div>
@if (Model.IsCurrentUserEmailConfirmed)
{
    <div class="row">
        @if (Model.ConversationMessages != null && Model.ConversationMessages.Count > 0)
        {
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @foreach (var conversation in Model.Conversations)
                        {
                            <div class="conversation-item">
                                <a href="@Url.Action("conversation", "message", new { id = conversation.TargetUserId })">
                                    @if (conversation.TargetUserId == Model.TargetUserId)
                                    {
                                        <div class="well well-sm overflow-ellipsis" style="border-color: #008CBA; background-color: #efefef;">
                                            @if (!String.IsNullOrEmpty(conversation.TargetProfileImagePath))
                                            {
                                                <div class="circular-image-wrapper pull-left" style="margin-right: 7px;">
                                                    <img class="circular-image" src="@conversation.TargetProfileImagePath" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="circular-image-wrapper pull-left" style="margin-right: 7px;">
                                                    <img class="circular-image" src="https://placehold.it/128x128" />
                                                </div>
                                            }
                                            <strong>@conversation.TargetName</strong>
                                            <small>&bull;&nbsp;@conversation.TimeAgo&nbsp;</small>
                                            <br />
                                            <small>@conversation.MostRecentMessageBody</small>
                                        </div>
                                    }
                                    else if (conversation.MostRecentMessageSenderUserId != Model.CurrentUserId
                                    && conversation.MostRecentMessageStatusId == (int)TwolipsDating.Models.MessageStatusValue.Unread)
                                    {
                                        <div class="well well-sm overflow-ellipsis" style="border-color #008cba; background-color #efefef;">
                                            @if (!String.IsNullOrEmpty(conversation.TargetProfileImagePath))
                                            {
                                                <div class="circular-image-wrapper pull-left" style="margin-right: 7px;">
                                                    <img class="circular-image" src="@conversation.TargetProfileImagePath" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="circular-image-wrapper pull-left" style="margin-right: 7px;">
                                                    <img class="circular-image" src="https://placehold.it/128x128" />
                                                </div>
                                            }
                                            <strong>@conversation.TargetName</strong>
                                            <small>&bull;&nbsp;@conversation.TimeAgo&nbsp;</small><i class="pull-right glyphicon glyphicon-envelope"></i>
                                            <br />
                                            <small>@conversation.MostRecentMessageBody</small>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="well well-sm overflow-ellipsis">
                                            @if (!String.IsNullOrEmpty(conversation.TargetProfileImagePath))
                                            {
                                                <div class="circular-image-wrapper pull-left" style="margin-right: 7px;">
                                                    <img class="circular-image" src="@conversation.TargetProfileImagePath" />
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="circular-image-wrapper pull-left" style="margin-right: 7px;">
                                                    <img class="circular-image" src="https://placehold.it/128x128" />
                                                </div>
                                            }
                                            <strong>@conversation.TargetName</strong>
                                            <small>&bull;&nbsp;@conversation.TimeAgo</small>
                                            <br />
                                            <small>@conversation.MostRecentMessageBody</small>
                                        </div>
                                    }
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="conversation-header">
                            @if (!String.IsNullOrEmpty(Model.TargetProfileImagePath))
                            {
                                <div class="circular-image-wrapper">
                                    <img class=" circular-image" src="@Model.TargetProfileImagePath" />
                                </div>
                            }
                            else
                            {
                                <div class="circular-image-wrapper">
                                    <img class="circular-image" src="https://placehold.it/128x128" />
                                </div>
                            }
                            <h3 style="margin-left: 7px; display: inline-block; vertical-align: top; margin-top: 2px;">
                                @Html.ActionLink(Model.TargetUserName, "index", "profile", new { id = Model.TargetProfileId }, null)
                                <br />
                                <small>@Model.TargetUserAge&nbsp;&bull;&nbsp;@Model.TargetUserLocation</small>
                            </h3>
                        </div>
                        @using (Html.BeginForm("send", "message", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()

                            <div class="form-group">
                                @Html.TextAreaFor(m => m.NewMessage, new { @class = "form-control" })
                            </div>
                            @Html.HiddenFor(m => m.TargetApplicationUserId)
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-xs pull-right">Send</button>
                            </div>
                        }
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        @for (int i = 0; i < Model.ConversationMessages.Count; i++)
                        {
                            var message = Model.ConversationMessages[i];
                            <div class="conversation-item" style="word-wrap: break-word">
                                @if (!String.IsNullOrEmpty(message.TargetProfileImagePath))
                                {
                                    <div class="circular-image-wrapper pull-left" style="margin-right: 7px;">
                                        <img class=" circular-image" src="@message.TargetProfileImagePath" />
                                    </div>
                                }
                                <p>@message.MostRecentMessageBody</p>
                                <small class="conversation-item-time-ago">@message.TimeAgo</small>
                            </div>
                            if (i < Model.ConversationMessages.Count - 1)
                            {
                                <hr />
                            }
                        }
                    </div>
                </div>
            </div>
        }
        else if (Model.Conversations != null && Model.Conversations.Count > 0)
        {
            @*<div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @foreach (var conversation in Model.Conversations)
                            {
                                <div class="conversation-item">
                                    <a href="@Url.Action("conversation", "message", new { id = conversation.TargetUserId })">
                                        @if (conversation.MostRecentMessageSenderUserId != Model.CurrentUserId
                                            && conversation.MostRecentMessageStatusId == (int)TwolipsDating.Models.MessageStatusValue.Unread)
                                        {
                                            <div class="well well-sm wrap-long-lines" style="border-color: #008CBA; background-color: #efefef;">
                                                @if (!String.IsNullOrEmpty(conversation.TargetProfileImagePath))
                                                {
                                                    <div class="circular-image-wrapper pull-left" style="margin-right: 7px;">
                                                        <img class="circular-image" src="@conversation.TargetProfileImagePath" />
                                                    </div>
                                                }
                                                <strong>@conversation.TargetName</strong>
                                                <small>&bull;&nbsp;@conversation.TimeAgo&nbsp;</small><i class="pull-right glyphicon glyphicon-envelope"></i>
                                                <br />
                                                <small>@conversation.MostRecentMessageBody</small>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="well well-sm wrap-long-lines">
                                                @if (!String.IsNullOrEmpty(conversation.TargetProfileImagePath))
                                                {
                                                    <div class="circular-image-wrapper pull-left" style="margin-right: 7px;">
                                                        <img class="circular-image" src="@conversation.TargetProfileImagePath" />
                                                    </div>
                                                }
                                                <strong>@conversation.TargetName</strong>
                                                <small>&bull;&nbsp;@conversation.TimeAgo</small>
                                                <br />
                                                <small>@conversation.MostRecentMessageBody</small>
                                            </div>
                                        }
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-defult">
                        <div class="panel-body">
                            <p>Messages go here</p>
                        </div>
                    </div>
                </div>*@
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>You don't have any recent conversations. Go find someone new and message them!</h4>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Before you can participate in message conversations, you need to confirm your email address.</h4>
                </div>
            </div>
        </div>
    </div>
}
