@model TwolipsDating.ViewModels.MessageViewModel
@using TwolipsDating.ViewModels

@{
    ViewBag.Title = "your messages";
    ViewBag.Description = "twolips dating is a community focused on providing people with the ability to meet likeminded friends and colleagues through a variety of activities and challenges.";
    ViewBag.ImageUrl = Url.Content("~/Content/twolipsicon-white-180x180.png");
}

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_DropDownMenuPartial", new TwolipsDating.ViewModels.DropDownMenuViewModel() { ActiveMenuText = ActiveMenuText.Message })
        <div class="pull-right">
            <ul class="nav nav-pills">
                @if (Model.MessageViewMode == MessageViewMode.Received)
                {
                    <li role="presentation">
                        <a href="@Url.Action("conversation")" title="Your conversations"><i class="glyphicon glyphicon-comment"></i>&nbsp;Conversations</a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="@Url.Action("received")" title="Your received messages"><i class="glyphicon glyphicon-download"></i>&nbsp;Received</a>
                    </li>
                    <li role="presentation">
                        <a href="@Url.Action("sent")" title="Your sent messages"><i class="glyphicon glyphicon-upload"></i>&nbsp;Sent</a>
                    </li>
                }
                else
                {
                    <li role="presentation">
                        <a href="@Url.Action("conversation")" title="Your conversations"><i class="glyphicon glyphicon-comment"></i>&nbsp;Conversations</a>
                    </li>
                    <li role="presentation">
                        <a href="@Url.Action("received")" title="Your received messages"><i class="glyphicon glyphicon-download"></i>&nbsp;Received</a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="@Url.Action("sent")" title="Your sent messages"><i class="glyphicon glyphicon-upload"></i>&nbsp;Sent</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                @if (Model.IsCurrentUserEmailConfirmed)
                {
                    if (Model.MessageViewMode == MessageViewMode.Received)
                    {
                        if (Model.ReceivedMessages != null && Model.ReceivedMessages.Count > 0)
                        {
                            foreach (var message in Model.ReceivedMessages)
                            {
                                <p style="display: inline-block; vertical-align: top; margin-top: 4px;">
                                    From
                                </p>
                                if (!String.IsNullOrEmpty(message.SenderProfileImagePath))
                                {
                                    <div class="circular-image-wrapper">
                                        <img class="circular-image" src="@message.SenderProfileImagePath" />
                                    </div>
                                }
                                <p style="display: inline-block; vertical-align: top; margin-top: 4px;">
                                    <a href="@Url.Action("index", "profile", new { id = message.SenderProfileId })">@message.SenderName</a>
                                    <small> &bull;&nbsp;@message.TimeAgo</small>
                                </p>
                                <div class="well well-sm wrap-long-lines">
                                    <small>@message.Body</small>
                                </div>
                            }
                        }
                        else
                        {
                            <h4>You don't have any received messages. Go find someone new and message them!</h4>
                        }
                    }
                    else if (Model.MessageViewMode == MessageViewMode.Sent)
                    {
                        if (Model.SentMessages != null && Model.SentMessages.Count > 0)
                        {
                            foreach (var message in Model.SentMessages)
                            {
                                <p style="display: inline-block; vertical-align: top; margin-top: 4px;">
                                    To
                                </p>
                                if (!String.IsNullOrEmpty(message.ReceiverProfileImagePath))
                                {
                                    <div class="circular-image-wrapper">
                                        <img class="circular-image" src="@message.ReceiverProfileImagePath" />
                                    </div>
                                }
                                <p style="display: inline-block; vertical-align: top; margin-top: 4px;">
                                    <a href="@Url.Action("index", "profile", new { id = message.ReceiverProfileId })">@message.ReceiverName</a>
                                    <small> &bull;&nbsp;@message.TimeAgo</small>
                                </p>
                                <div class="well well-sm wrap-long-lines">
                                    <small>@message.Body</small>
                                </div>
                            }
                        }
                        else
                        {
                            <h4>You don't have any sent messages. Go find someone new and message them!</h4>
                        }
                    }
                }
                else
                {
                    <h4>Before you can send and receive messages, you must confirm your email address.</h4>
                }
            </div>
        </div>
    </div>
</div>