@model TwolipsDating.ViewModels.MessageViewModel
@using TwolipsDating.ViewModels

@{
    ViewBag.Title = "twolips - your profile";
}

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_DropDownMenuPartial", new TwolipsDating.ViewModels.DropDownMenuViewModel() { ActiveMenuText = "Messages" })
        <div class="pull-right">
            <ul class="nav nav-pills">
                @if (Model.MessageViewMode == MessageViewMode.Received)
                {
                    <li role="presentation" class="active">
                        <a href="@Url.Action("received")" title="Your received messages"><i class="glyphicon glyphicon-download"></i>&nbsp;Received</a>
                    </li>
                    <li role="presentation">
                        <a href="@Url.Action("sent")" title="Your sent messages"><i class="glyphicon glyphicon-upload"></i>&nbsp;Sent</a>
                    </li>
                }
                else
                {
                    <li role="presentation">
                        <a href="@Url.Action("received")" title="Your received messages"><i class="glyphicon glyphicon-download"></i>&nbsp;Received</a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="@Url.Action("sent")" title="Your sent messages"><i class="glyphicon glyphicon-upload"></i>&nbsp;Sent</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-striped">
            <tr>
                @if (Model.MessageViewMode == MessageViewMode.Received)
                {
                    <th>Sent from</th>
                }
                else
                {
                    <th>Sent to</th>
                }
                <th>Date Sent</th>
                <th>Subject</th>
                <th>Body</th>
            </tr>

            @if (Model.MessageViewMode == MessageViewMode.Received)
            {
                foreach (var message in Model.ReceivedMessages)
                {
                    <tr>
                        <td>@message.SenderName</td>
                        <td>@message.DateSent</td>
                        <td>@message.Subject</td>
                        <td>@message.Body</td>
                    </tr>
                }
            }
            else
            {
                foreach (var message in Model.SentMessages)
                {
                    <tr>
                        <td>@message.ReceiverName</td>
                        <td>@message.DateSent</td>
                        <td>@message.Subject</td>
                        <td>@message.Body</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}